<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.ar.ageingreport' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Inv No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.docNum" placeholder="Doc No." type="text">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 x-scroll">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Customer</th>
                        <th>Days</th>
                        <th>BP Ref.</th>
                        <th>Inv No.</th>
                        <th>Posting Date</th>
                        <th>DueDate Inv.</th>
                        <th>Incoming Date</th>
                        <th>Inv. Total</th>
                        <th>Paid Total</th>
                        <th>Balance Due</th>
                        <th>Status</th>
                        <th>Payment Method</th>
                        <th>Cr. Term</th>
                        <th>Cr. Line</th>
                        <th>Cr. Used</th>
                        <th>AvalBalance</th>
                        <th>S/M</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in resultList | filter: {docNum : localCondition.docNum}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.cardCode}}</td>
                        <td>{{result.cardName}}</td>
                        <td class="txt-c">{{result.days}}</td>
                        <td class="txt-c">{{result.numAtCard}}</td>
                        <td>{{result.docNum}}</td>
                        <td class="txt-c">{{result.docDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.docDueDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c" ng-if="result.incomingDate">{{result.incomingDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c" ng-if="!result.incomingDate">-</td>
                        <td class="txt-c">{{result.docTotal}}</td>
                        <td class="txt-c">{{result.paidTotal}}</td>
                        <td class="txt-c">{{result.balanceDue}}</td>
                        <td class="txt-c">{{result.status}}</td>
                        <td class="txt-c" ng-if="result.paymentMethod">{{result.paymentMethod}}</td>
                        <td class="txt-c" ng-if="!result.paymentMethod">-</td>
                        <td class="txt-c">{{result.paymentTerm}}</td>
                        <td class="txt-c">{{result.creditLimit}}</td>
                        <td class="txt-c">{{result.creditBalance}}</td>
                        <td class="txt-c">{{result.avalBalance}}</td>
                        <td class="txt-c">{{result.slpName}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.arageingreportsearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>