<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.ar.analysisreport' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Customer No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.cardCode" placeholder="Card Code" type="text">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table analysis" ng-if="resultList">
                <thead>
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Sales Employee Code</th>
                        <th rowspan="2">Sales Employee Name</th>
                        <th rowspan="2">Customer No.</th>
                        <th rowspan="2">Customer Name</th>
                        <th rowspan="2">Item No.</th>
                        <th rowspan="2">Description</th>
                        <th rowspan="2">UoM Code</th>
                        <th rowspan="2">UoM Name</th>
                        <th colspan="2">Summary</th>
                        <th colspan="2" ng-repeat="month in dynamicMonthTh">{{month.monthYear}}</th>
                    </tr>
                    <tr>
                        <!-- <th>#</th>
                        <th>Sales Employee Code</th>
                        <th>Sales Employee Name</th>
                        <th>Customer No.</th>
                        <th>Customer Name</th>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>UoM Code</th>
                        <th>UoM Name</th> -->
                        <th>Quantity</th>
                        <th>Sales Amount</th>
                        <th ng-repeat-start="month in dynamicMonthTh">Quantity</th>
                        <th ng-repeat-end>Sales Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in resultList | filter: {cardCode : localCondition.cardCode}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td class="txt-c">{{result.slpCode}}</td>
                        <td>{{result.slpName}}</td>
                        <td>{{result.cardCode}}</td>
                        <td>{{result.cardName}}</td>
                        <td>{{result.itemCode}}</td>
                        <td>{{result.itemName}}</td>
                        <td class="txt-c">{{result.uomCode}}</td>
                        <td class="txt-c">{{result.uomName}}</td>
                        <td class="txt-c">{{result.ytdQuantity | currency:"":0}}</td>
                        <td class="txt-c">{{result.ytdTotal | currency:"":0}}</td>
                        <td class="txt-c" ng-repeat-start="month in result.months">{{month.quantity | currency:"":0}}</td>
                        <td class="txt-c" ng-repeat-end>{{month.total | currency:"":0}}</td>
                    </tr>
                    <tr class="summary-row">
                        <td class="txt-c" colspan="9">Summary</td>
                        <td class="txt-c">{{sumYtdQty(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumYtdTotal(resultList) | currency:"":0}}</td>
                        <td class="txt-c" ng-repeat-start="month in dynamicMonthTh">{{sumMonthQty($index) | currency:"":0}}</td>
                        <td class="txt-c" ng-repeat-end>{{sumMonthTotal($index) | currency:"":0}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.aranalysisreportsearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>