<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                {{'sales.console' | translate}}
                <small class="color-light alpha7">
                {{'menu.ar.analysisreport' | translate}}
                </small>
                </h3>
            </div>
        </div>
    </div>
</header>
<div class="container pt10 mb10 search-condition">
    
    <form name="search-form" ng-submit="gotoDetail($event)">
        <!-- <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="reportType" ng-model="condition.reportType" type="radio" value="A">
                                Annual Report
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="reportType" ng-model="condition.reportType" type="radio" value="B">
                                Monthly Report
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="reportType" ng-model="condition.reportType" type="radio" value="C">
                                Quarterly Report
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="dataType" ng-model="condition.dataType" type="radio" value="A">
                                Invoices
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="dataType" ng-model="condition.dataType" type="radio" value="B">
                                Orders
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="dataType" ng-model="condition.dataType" type="radio" value="C">
                                Delivery Notes
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="displayType" ng-model="condition.displayType" type="radio" value="A">
                                Individual Display
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="displayType" ng-model="condition.displayType" type="radio" value="B">
                                Group Display
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="totalType" ng-model="condition.totalType" type="radio" value="A">
                                Total by Customer
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <input class="" name="totalType" ng-model="condition.totalType" type="radio" value="B">
                                Total by Blanket Agreement
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr> -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Invoice Date From</label>
                    <input class="input-square form-control" ng-model="condition.docDateFrom" placeholder="Posting Date" type="date" >
                    </input>
                </div>
                <!-- <date-picker-group label="Invoice Date From" ng-model="condition.docDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDateTo" placeholder="Posting Date" type="date" >
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDateTo"></date-picker-group> -->
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee From *</label>
                    <select class="input-square form-control" ng-model="condition.slpCodeFrom" convert-to-number required>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To *</label>
                    <select class="input-square form-control" ng-model="condition.slpCodeTo" convert-to-number required>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer From</label>
                    <input class="input-square form-control" ng-model="condition.cardCodeFrom" placeholder="Card Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.cardCodeTo" placeholder="Card Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee *</label>
                    <div ng-dropdown-multiselect options="salesEmployeeList" selected-model="condition.selectedSales" extra-settings="salesExSetting" required></div>
                </div>
            </div>
            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.report">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </div>
    </form>
    
</div>