<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.ar.backorder' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form" ng-submit="doExport($event)">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Item Number From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeFrom" placeholder="Item no." type="text" required>
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeTo" placeholder="Item no." type="text" required>
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item Group</label>
                    <select class="input-square form-control" ng-model="condition.itemGroup">
                        <option value="" translate="option.all">
                        </option>
                        <option ng-repeat="opt in itemGroupList" value="{{opt.itmsGrpCod}}">
                            {{opt.itmsGrpNam}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Delivery Date From</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateFrom" placeholder="Doc Due Date" type="date" >
                    </input>
                </div>
                <!-- <date-picker-group label="Delivery Date From" ng-model="condition.docDueDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateTo" placeholder="Doc Due Date" type="date" >
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDueDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer From</label>
                    <input class="input-square form-control" ng-model="condition.cardCodeFrom" placeholder="Card Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.cardCodeTo" placeholder="Card Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee From *</label>
                    <select class="input-square form-control" ng-model="condition.slpCodeFrom" convert-to-number required>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To *</label>
                    <select class="input-square form-control" ng-model="condition.slpCodeTo" convert-to-number required>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee *</label>
                    <div ng-dropdown-multiselect options="salesEmployeeList" selected-model="condition.selectedSales" extra-settings="salesExSetting"></div>
                </div>
            </div>

            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.export">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>