<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Brochure
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb20">
                Brochure List
            </h4>
        </div>
        <div class="col-md-12">
            <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="doUpload()" translate="common.add">
            </button>
        </div>
    </div>
    <div class="row" ng-show="showUpload">
        <div class="col-md-12">
            <div ngf-drop="onUploadFile($file)" ngf-select="onUploadFile($file)"  class="drop-box" 
                ngf-drag-over-class="'dragover'" >Drop file here to upload</div>
        </div>
    </div>

    <div class="row" ng-if="bean.attachments">
        <div class="col-md-12">
            <h4 class="text-left mb10">Brochure</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>File Name</th>
                        <th>Upload Date</th>
                        <th>Preview</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in bean.attachments track by result.fileName">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>
                            {{result.fileName}}
                        </td>
                        <td class="txt-c">
                            {{result.date | date : 'dd.MM.yyyy'}}
                        </td>
                        <td class="txt-c">
                            <i class="fa fa-eye td-icon-btn" aria-hidden="true" ng-click="doDownloadFile($event, $index, result)"></i>
                        </td>
                        <td class="txt-c">
                            <i class="fa fa-minus-circle td-icon-btn" aria-hidden="true" ng-click="doDeleteFile($event, $index, result.fileName)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>