<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        On Hand (Cost)
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form" ng-submit="doExport($event)">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item No. From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeFrom" placeholder="Item no." type="text" required auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeTo" placeholder="Item no." type="text" required auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Brand</label>
                    <div ng-dropdown-multiselect options="brandList" selected-model="condition.selectedBrand" extra-settings="multiSelectExSetting"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Channel</label>
                    <div ng-dropdown-multiselect options="channelList" selected-model="condition.selectedChannel" extra-settings="multiSelectExSetting"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Warehouse</label>
                    <div ng-dropdown-multiselect options="whseList" selected-model="condition.selectedWhse" extra-settings="multiSelectExSetting"></div>
                </div>
            </div>
            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.export">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>