<!-- Subheader Area
===================================== -->
<header class="bg-grad-stellar mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Order Status
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <form name="search-form" ng-submit="gotoDetail($event)">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeFrom" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeTo" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item No. From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeFrom" placeholder="Item no." type="text" auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeTo" placeholder="Item no." type="text" auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Delivery Date From</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateFrom" placeholder="Posting Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Posting Date From" ng-model="condition.docDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateTo" placeholder="Posting Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer Ref No.</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.numAtCard" placeholder="Citizen no." type="text">
                    </input>
                </div>
            </div>
            
            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.report">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </div>
    </form>
</div>