<!-- Subheader Area
===================================== -->
<header class="bg-grad-stellar mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.ar.order' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            

            <div class="col-md-6">
                <div class="form-group">
                    <label>Document No.</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.docKey" placeholder="Doc Key" type="text">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Status</label>
                    <select class="input-square form-control" ng-model="condition.docStatus">
                        <option value="" translate="option.all">
                        </option>
                        <option ng-repeat="status in statusList" value="{{status.value}}">
                            {{status.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCode" placeholder="Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardName" placeholder="Name" type="text" >
                    </input>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Posting Date From</label>
                    <input class="input-square form-control" ng-model="condition.postingDateFrom" placeholder="Posting Date" type="date">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.postingDateTo" placeholder="Posting Date" type="date">
                    </input>
                </div>
            </div> -->
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Posting From</label>
                    <input class="input-square form-control" ng-model="condition.docDateFrom" placeholder="Doc Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Posting Date From" ng-model="condition.docDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDateTo" placeholder="Doc Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Delivery Date From</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateFrom" placeholder="Due Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Delivery Date From" ng-model="condition.docDueDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDueDateTo" placeholder="Due Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDueDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee</label>
                    <!-- <select class="input-square form-control" ng-model="condition.slpCode" convert-to-number>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select> -->
                    <div ng-dropdown-multiselect options="salesEmployeeList" selected-model="condition.selectedSales" extra-settings="salesExSetting"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group checkbox">
                    <label>
                        <input type="checkbox" class="" ng-model="condition.draft">Draft
                    </label>

                </div>
            </div>
            <div class="col-md-12 btn-line">
                <button class="button-o button-square button-pasific hover-fade" ng-click="doSearch($event)" translate="common.search">
                </button>
                <button class="button-o button-square button-pasific hover-fade" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 btn-line">
            <button class="button-o button-square button-pasific hover-fade" ng-click="gotoDetail($event, null)" translate="common.add">
            </button>
        
            <!-- <button ng-if="resultList" class="button-o button-square button-pasific hover-fade" ng-click="doDeleteResultList($event)" translate="common.delete">
            </button> -->
     </div>
    </div>
   
</div>
<div class="container pb20 search-result">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Document No.</th>
                        <th>Customer Code</th>
                        <th>Customer Name</th>
                        <th>Posting Date</th>
                        <th>Delivery Date</th>
                        <th>Sales Employee</th>
                        <th>Document Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList">
                        <td class="txt-c">{{$index + 1 + ((paginable.currentPage - 1) * paginable.rowPerPage)}}</td>
                        <td>
                            {{result.docKey}} {{result.isDraft ? ' (Draft)' : ''}}
                        </td>
                        <td class="txt-c">
                            {{result.cardCode}}
                        </td>
                        <td>
                            {{result.cardName}}
                        </td>
                        <td class="txt-c">{{result.docDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.docDueDate | date : 'dd.MM.yyyy'}}</td>
                        <td>{{getSalesEmployeeName(result.salesPersonCode)}}</td>
                        <td class="txt-c">{{result.docTotal | currency:"":0}}</td>
                        <td class="txt-c">{{getOrderStatusName(result.docStatus).name}} {{(!result.isDraft && 'Y' === result.canceled) ? ' (Cancellation)' : ''}} {{result.isDraft ? ' (' + result.wddStatus + ')' : ''}}</td>
                    </tr>
                </tbody>
            </table>
            <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging>
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
</div>