<ng-include src="'views/sales/dialog/search-partner-dialog.html'"></ng-include>
<ng-include src="'views/sales/dialog/search-item-dialog.html'"></ng-include>
<ng-include src="'views/sales/dialog/search-whse-dialog.html'"></ng-include>
<ng-include src="'views/sales/dialog/search-batch-no-dialog.html'"></ng-include>
<ng-include src="'views/sales/dialog/search-sales-price-hist-dialog.html'"></ng-include>
<ng-include src="'views/sales/dialog/search-gross-profit-dialog.html'"></ng-include>

<!-- Subheader Area
===================================== -->
<header class="bg-grad-stellar mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Approve Order
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb50 edit-detail">
    <form name="edit-form" ng-submit="doSave($event)">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.edit"></h4>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Series *</label>
                    <select name="series" class="input-square form-control" ng-model="bean.series" convert-to-number required ng-if="'add'===mode">
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in seriesList track by opt.series" value="{{opt.series}}">
                            {{opt.seriesName}}
                        </option>
                    </select>
                    <input name="series" ng-model="bean.seriesName" type="text" class="input-square form-control" placeholder="Series" maxlength="100" readonly ng-if="'add'!==mode">
                </div>
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>No.</label>
                    <input name="docNo" ng-model="bean.docNumDisp" type="text" class="input-square form-control" placeholder="Doc No." maxlength="100" readonly>
                </div>                                               
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Customer *</label>
                    <input name="custCode" ng-model="bean.cardCode" type="text" class="input-square form-control" placeholder="Code" maxlength="10" ng-click="doOpenPartnerDialog($event)" readonly required>
                </div>                                          
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Status</label>
                    <input name="status" ng-model="bean.statusDisp" type="text" class="input-square form-control" maxlength="10" readonly>
                </div>                                          
            </div>
            
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Name</label>
                    <input name="custName" ng-model="bean.cardName" type="text" class="input-square form-control" placeholder="Name" maxlength="100">
                </div>                                               
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Posting Date *</label>
                    <input name="docDate" class="input-square form-control" ng-model="bean.docDate" placeholder="Posting Date" type="date" ng-change="refreshSeries($event)" required>
                    </input>
                </div>
                <!-- <date-picker-group name="docDate" label="Posting Date *" ng-model="bean.docDate" required="true"></date-picker-group> -->
            </div>
            
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Contact Person</label>
                    <!-- <input name="contactPerson" ng-model="bean.contactPersonCode" type="text" class="input-square form-control" placeholder="Contact Person" maxlength="100" readonly ng-if="'add'!==mode"> -->
                    <select class="input-square form-control" ng-model="bean.contactPersonCode" convert-to-number >
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in contactPersonList track by opt.cntctCode" value="{{opt.cntctCode}}">
                            {{opt.name}}
                        </option>
                    </select>
                </div>                                               
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Delivery Date *</label>
                    <input name="docDueDate" class="input-square form-control" ng-model="bean.docDueDate" placeholder="Delivery Date" type="date" required min="{{minDate | date:'yyyy-MM-dd'}}">
                    </input>
                </div>
                <!-- <date-picker-group name="docDueDate" label="Delivery Date *" ng-model="bean.docDueDate" required="true"></date-picker-group> -->
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Customer Ref No.</label>
                    <input name="custRefNo" ng-model="bean.numAtCard" type="text" class="input-square form-control" placeholder="Ref No." maxlength="100">
                </div>                                          
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Date *</label>
                    <input name="taxDate" class="input-square form-control" ng-model="bean.taxDate" placeholder="Document Date" type="date" required>
                    </input>
                </div>
                <!-- <date-picker-group name="taxDate" label="Document Date *" ng-model="bean.taxDate" required="true"></date-picker-group> -->
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                  <li ng-class="{active: tabIndex===0}"><a data-toggle="tab" ng-click="toggleTab($event, 0)">Contents</a></li>
                  <li ng-class="{active: tabIndex===1}"><a data-toggle="tab" ng-click="toggleTab($event, 1)">Logistics</a></li>
                  <li ng-class="{active: tabIndex===2}"><a data-toggle="tab" ng-click="toggleTab($event, 2)">Accounting</a></li>
                  <li ng-class="{active: tabIndex===3}"><a data-toggle="tab" ng-click="toggleTab($event, 3)">Attachments</a></li>
                  <li ng-class="{active: tabIndex===4}"><a data-toggle="tab" ng-click="toggleTab($event, 4)">Doc Relation</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-contents" class="tab-pane fade in active row" ng-show="tabIndex===0">
                        <div class="col-md-12">
                            <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doOpenGrossProfit($event)">Gross Profit</button>
                        </div>
                        
                        <div class="col-md-12">
                            <table class="table order-item" ng-if="bean.lines">
                                <thead>
                                    <tr>
                                        <th>X</th>
                                        <th>#</th>
                                        <th>Item No.</th>
                                        <th>Item Description</th>
                                        <th>BP Catalog No.</th>
                                        <th>Price History</th>
                                        <th>Quantity</th>
                                        <th>Batch</th>
                                        <th>Unit Price</th>
                                        <th>Discount %</th>
                                        <th>Price after Discount</th>
                                        <th>Tax Code</th>
                                        <th>Tax Amount</th>
                                        <th>Gross Price</th>
                                        <th>Total</th>
                                        <th>UoM Code</th>
                                        <th>Whse</th>
                                        <th ng-if="dimension1List">Cost Center 1</th>
                                        <th ng-if="dimension2List">Cost Center 2</th>
                                        <th ng-if="dimension3List">Cost Center 3</th>
                                        <th ng-if="dimension4List">Cost Center 4</th>
                                        <th ng-if="dimension5List">Cost Center 5</th>
                                        <th>Free Sampling</th>
                                        <th>Free Text</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="row in bean.lines">
                                        <td class="txt-c" style="padding-top: 1.3em;">
                                            <!-- <i class="fa fa-times-circle-o td-icon-btn" aria-hidden="true" ng-click="doRemoveLine($event, $index)"></i> -->
                                        </td>
                                        <td class="txt-c value">{{$index + 1}}</td>
                                        <td>
                                            <input name="itemCode" ng-model="row.itemCode" type="text" class="input-square form-control" maxlength="10" ng-click="doOpenItemDialog($event, $index)" readonly>
                                        </td>
                                        <td class="value">{{row.itemName}}</td>
                                        <td class="value">{{row.bpItemName}}</td>
                                        <td class="txt-c" style="padding-top: 1.3em;">
                                            <i class="fa fa-history td-icon-btn" aria-hidden="true" ng-click="doOpenSalesHistDialog($event, $index)"></i>
                                        </td>
                                        <td>
                                            <input name="total" ng-model="row.quantity" type="number" class="input-square form-control" max="1000000000" min="0" ng-change="doChangeLineQty($event, row)">
                                        </td>
                                        <td class="txt-c" style="padding-top: 1.3em;">
                                            <i ng-if="row.isBatch" class="fa fa-list-ol td-icon-btn" aria-hidden="true" ng-click="doOpenBatchNoDialog($event, $index)"></i>
                                        </td>
                                        <td class="txt-c">
                                            <input name="unitPrice" ng-model="row.unitPrice" type="number" class="input-square form-control" max="1000000000" min="0" ng-change="doChangeLineUnitPrice($event, row)" step="any">
                                        </td>
                                        
                                        <td>
                                            <input name="discountPercent" ng-model="row.discountPercent" type="number" class="input-square form-control" max="100" min="0" ng-change="doChangeLineDiscountPercent($event, row)" step="any">
                                        </td>
                                        <td>
                                            <input name="priceAfterDiscount" ng-model="row.priceAfterDiscount" type="number" class="input-square form-control" max="1000000000" min="0" ng-change="doChangeLineAfterDiscount($event, row)" step="any" readonly>
                                        </td>
                                        <td>
                                            <select class="input-square form-control" ng-model="row.vatGroup" ng-change="doCalculateLine($event, row)">
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in taxGroupList" value="{{opt.code}}">
                                                    {{opt.name}}
                                                </option>
                                            </select>

                                            <!-- <input ng-model="row.vatGroup" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                        </td>
                                        <td class="txt-c value">{{row.vatAmount}}</td>
                                        <td class="txt-c">
                                            <input name="priceAfterVat" ng-model="row.priceAfterVat" type="number" class="input-square form-control" max="1000000000" min="0" ng-change="doChangeLineGrossing($event, row)" step="any">
                                        </td>
                                        <td class="txt-c value">{{row.lineTotalAmount | currency:"":2}}</td>
                                        <td>
                                            <select class="input-square form-control" ng-model="row.uomEntry" convert-to-number ng-change="doChangeLineUom($event, row)">
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in uomGroupList | filter: {ugpEntry: row.ugpEntry} : true " value="{{opt.uomEntry}}">
                                                    {{opt.uomCode}}
                                                </option>
                                            </select>

                                            <!-- <input ng-model="row.uomCode" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                        </td>
                                        <td>
                                            <input name="whseCode" ng-model="row.warehouseCode" type="text" class="input-square form-control" maxlength="10" ng-click="doOpenWhseDialog($event, $index)" readonly>
                                        </td>
                                        <td ng-if="dimension1List">
                                            <!-- <input ng-model="row.costingCode" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                            <select class="input-square form-control" ng-model="row.costingCode" >
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in dimension1List track by opt.ocrCode" value="{{opt.ocrCode}}">
                                                    {{opt.ocrName}}
                                                </option>
                                            </select>
                                        </td>
                                        <td ng-if="dimension2List">
                                            <!-- <input ng-model="row.costingCode2" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                            <select class="input-square form-control" ng-model="row.costingCode2" >
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in dimension2List track by opt.ocrCode" value="{{opt.ocrCode}}">
                                                    {{opt.ocrName}}
                                                </option>
                                            </select>
                                            <!-- <input name="costingCode2" ng-model="row.costingCode2" type="text" class="input-square form-control" maxlength="20" > -->
                                        </td>
                                        <td ng-if="dimension3List">
                                            <!-- <input ng-model="row.costingCode3" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                            <select class="input-square form-control" ng-model="row.costingCode3">
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in dimension3List track by opt.ocrCode" value="{{opt.ocrCode}}">
                                                    {{opt.ocrName}}
                                                </option>
                                            </select>
                                            <!-- <input name="costingCode3" ng-model="row.costingCode3" type="text" class="input-square form-control" maxlength="20" > -->
                                        </td>
                                        <td ng-if="dimension4List">
                                            <!-- <input ng-model="row.costingCode4" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                            <select class="input-square form-control" ng-model="row.costingCode4">
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in dimension4List track by opt.ocrCode" value="{{opt.ocrCode}}">
                                                    {{opt.ocrName}}
                                                </option>
                                            </select>
                                            <!-- <input name="costingCode4" ng-model="row.costingCode4" type="text" class="input-square form-control" maxlength="20" > -->
                                        </td>
                                        <td ng-if="dimension5List">
                                            <!-- <input ng-model="row.costingCode5" type="text" class="input-square form-control" maxlength="100" readonly ng-if="'add'!==mode"> -->
                                            <select class="input-square form-control" ng-model="row.costingCode5">
                                                <option value="" translate="option.pleaseselect">
                                                </option>
                                                <option ng-repeat="opt in dimension5List track by opt.ocrCode" value="{{opt.ocrCode}}">
                                                    {{opt.ocrName}}
                                                </option>
                                            </select>
                                            <!-- <input name="costingCode5" ng-model="row.costingCode5" type="text" class="input-square form-control" maxlength="20" > -->
                                        </td>
                                        <td>
                                            <select class="input-square form-control" ng-model="row.freeSampling">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input name="freeText" ng-model="row.freeText" type="text" class="input-square form-control" maxlength="200">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="result-not-found" ng-if="!bean.lines">Not Found Item Data</span>
                        </div>
                    </div>
                    <div id="tab-logistics" class="tab-pane fade in active row" ng-show="tabIndex===1">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bill To</label>
                                <select class="input-square form-control" ng-model="bean.payToCode" ng-change="doSelectBillTo($event)">
                                    <option value="" translate="option.pleaseselect" ng-if="!billToList">
                                    </option>
                                    <option ng-repeat="opt in billToList" value="{{opt.addressName}}">
                                        {{opt.addressName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bill Address</label>
                                <textarea class="form-control input-square " name="billTo" rows="5" ng-model="bean.address" maxlength="2000"></textarea>
                            </div>
                            
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ship To</label>
                                <select class="input-square form-control" ng-model="bean.shipToCode" ng-change="doSelectShipTo($event)">
                                    <option value="" translate="option.pleaseselect" ng-if="!shipToList">
                                    </option>
                                    <option ng-repeat="opt in shipToList" value="{{opt.addressName}}">
                                        {{opt.addressName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ship Address</label>
                                <textarea class="form-control input-square " name="shipTo" rows="5" ng-model="bean.address2" maxlength="2000"></textarea>
                            </div>
                            
                        </div>
                    </div>
                    <div id="tab-accounting" class="tab-pane fade in active row" ng-show="tabIndex===2">
                        <!-- <div class="col-md-6">             
                            <div class="form-group">
                                <label>Journal Remark</label>
                                <input name="journalRemark" ng-model="bean.accounting.journalRemark" type="text" class="input-square form-control" disabled maxlength="200">
                            </div>
                        </div>
 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Terms *</label>
                                <select name="paymentGroupCode" class="input-square form-control" ng-model="bean.paymentGroupCode" convert-to-number readonly>
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in paymentTermsList track by opt.groupNum" value="{{opt.groupNum}}">
                                        {{opt.pymntGroup}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Due Date</label>
                                <input class="input-square form-control" ng-model="bean.accounting.dueDate" placeholder="Due Date" type="date" disabled>
                                </input>
                            </div>
                        </div>

                        <div class="col-md-6">             
                            <div class="form-group">
                                <label>Federal Tax ID</label>
                                <input name="contactId" ng-model="bean.accounting.federalTaxId" type="text" class="input-square form-control" disabled maxlength="200">
                            </div>
                        </div> -->
                    </div>
                    <div id="tab-attachments" class="tab-pane fade in active row" ng-show="tabIndex===3">
                        <!-- <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="doUpload()" translate="common.add">
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="showUpload">
                            <div class="col-md-12">
                                <div ngf-drop="onUploadFile($file)" ngf-select="onUploadFile($file)"  class="drop-box" 
                                    ngf-drag-over-class="'dragover'">Drop file here to upload</div>
                            </div>
                        </div> -->

                        <div class="row" ng-if="bean.attachments">
                            <div class="col-md-12">
                                <h4 class="text-left mb10">Attachments</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>File Name</th>
                                            <th>Upload Date</th>
                                            <th>Download</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in bean.attachments track by result.fileName">
                                            <td class="txt-c">{{$index + 1}}</td>
                                            <td>
                                                {{result.fileName}}
                                            </td>
                                            <td class="txt-c">
                                                {{result.date | date : 'dd.MM.yyyy'}}
                                            </td>
                                            <td class="txt-c">
                                                <i class="fa fa-download td-icon-btn" aria-hidden="true" ng-click="doDownloadFile($event, $index, result)"></i>
                                            </td>
                                            <td class="txt-c">
                                                <i class="fa fa-minus-circle td-icon-btn" aria-hidden="true" ng-click="doDeleteFile($event, $index, result.fileName)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="tab-relation" class="tab-pane fade in active row" ng-show="tabIndex===4">
                        <div class="col-md-12">
                            <table class="table" ng-if="bean.relations">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Document Type</th>
                                        <th>Document No.</th>
                                        <th>Posting Date</th>
                                        <th>Status</th>
                                        <th>User</th>
                                        <th>Employee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="row in bean.relations">
                                        <td class="txt-c">{{$index + 1}}</td>
                                        <td class="txt-c">{{row.objTypeStr}}</td>
                                        <td>{{row.docNum}}</td>
                                        <td class="txt-c">{{row.docDate | date : 'dd.MM.yyyy'}}</td>
                                        <td class="txt-c">{{row.docStatus}}</td>
                                        <td>{{row.username}}</td>
                                        <td>{{row.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="result-not-found" ng-if="!bean.relations">Not Found Relation Data</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee *</label>
                    <input name="salesPersonName" ng-model="bean.salesPersonName" type="text" class="input-square form-control" readonly >
                    <!-- <select name="salesPersonCode" class="input-square form-control" ng-model="bean.salesPersonCode" convert-to-number required>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList track by opt.slpCode" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select> -->
                </div>
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Total Before Discount</label>
                    <input name="totalBeforeDiscount" ng-model="bean.totalBeforeDiscount" type="number" class="input-square form-control" max="1000000000" min="0" readonly step="any">
                </div>                                          
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Remark</label>
                    <textarea class="form-control input-square " name="remark" rows="5" ng-model="bean.comments" maxlength="2000"></textarea>
                </div>
                
            </div>
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Discount</label>
                    <div class="input-group-span-middle">
                        <input name="discountPercent" ng-model="bean.discountPercent" type="number" class="input-square form-control" max="100" min="0" step="any" style="width:30%" ng-change="doCalculateDiscount($event, false);" >
                        <span>%</span>
                        <input name="discountTotal" ng-model="bean.discountAmount" type="number" class="input-square form-control" max="1000000000" min="0" step="any" style="width:69%" ng-change="doCalculateDiscount($event, true);" >
                    </div>
                </div>                                          
            </div>
            <!-- <div class="col-md-6">               
                <div class="form-group">
                    <label>Freight</label>
                    <input name="freight" ng-model="bean.freight" type="number" class="input-square form-control" max="1000000000" min="0" readonly>
                </div>                                          
            </div>
            <div class="col-md-6">               
                <div class="form-group">
                    <label>
                        <input style="margin: 0 3px 0 0" type="checkbox" class="" ng-model="bean.rounding" value="Y">Rounding
                    </label>
                    <input name="totalRounding" ng-model="bean.totalRounding" type="number" class="input-square form-control" max="1000000000" min="0" readonly>
                </div>
            </div> -->
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Tax</label>
                    <input name="tax" ng-model="bean.vatAmount" type="number" class="input-square form-control" max="1000000000" min="0" readonly step="any">
                </div>                                          
            </div>
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Total</label>
                    <input name="total" ng-model="bean.docTotal" type="number" class="input-square form-control" max="1000000000" min="0" readonly step="any">
                </div>                                          
            </div>
        </div>

        <hr>

        <div class="panel panel-success">
            <div class="panel-heading" ng-click="toggleUdf($event)">
                <a class="accordian-toggle-chevron-left" ng-class="{collapsed: !showUdf}" data-toggle="collapse">UDF</a>
            </div>
            <div id="collapse-udf" class="panel-collapse" ng-class="{collapse: !showUdf}" >
                <div class="panel-body row">

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Vat Branch *</label>
                            <input name="varBranch" ng-model="bean.vatBranch" type="text" class="input-square form-control" placeholder="Vat Branch" maxlength="200" required>
                        </div>                                          
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>BP Tax Id *</label>
                            <input name="bpTaxId" ng-model="bean.bpTaxId" type="text" class="input-square form-control" placeholder="Tax ID" maxlength="200" required>
                        </div>                                          
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>BP Branch *</label>
                            <input name="bpBrnCode" class="input-square form-control" maxlength="5" ng-model="bean.bpBrnCode" placeholder="Code" type="text"  required>
                            </input>
                        </div>
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Invoice Remark</label>
                            <textarea class="form-control input-square " name="remark" rows="5" ng-model="bean.invRemark" maxlength="2000"></textarea>
                        </div>                                    
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-info" ng-if="bean.wddStatus==='-' || bean.wddStatus==='W'">
            <div class="panel-heading">
                <a class="accordian-toggle-chevron-left">Approval</a>
            </div>
            <div class="panel-collapse">
                <div class="panel-body row">
                    <div class="col-md-12">               
                        <div class="form-group">
                            <label>Remark</label>
                            <textarea class="form-control input-square " name="remark" rows="5" ng-model="bean.remark" maxlength="2000"></textarea>
                        </div>                                    
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btn-line">
                <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.arorderapprovesearch" translate="common.back"></button>
                <button ng-if="bean.wddStatus==='-' || bean.wddStatus==='W'" type="button" ng-click="doApprove($event)" class="button-o button-square button-pasific hover-fade" >Approve</button>
                <button ng-if="bean.wddStatus==='-' || bean.wddStatus==='W'" type="button" ng-click="doReject($event)" class="button-o button-square button-pasific hover-fade" >Reject</button>
            </div>
        </div>
    </form> 
</div>
