<!-- Subheader Area
===================================== -->
<header class="bg-grad-stellar mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Approve Order
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Create Date From</label>
                    <input class="input-square form-control" ng-model="condition.createDateFrom" placeholder="Doc Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Posting Date From" ng-model="condition.docDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.createDateTo" placeholder="Doc Date" type="date">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCode" placeholder="Code" type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer Name</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardName" placeholder="Name" type="text" >
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document No.</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.docKey" placeholder="Doc Key" type="text">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee</label>
                    <div ng-dropdown-multiselect options="salesEmployeeList" selected-model="condition.selectedSales" extra-settings="salesExSetting"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Approve Status *</label>
                    <select class="input-square form-control" ng-model="condition.wddStatus" required>
                        <option ng-repeat="opt in approveStatusList" value="{{opt.code}}">
                            {{opt.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 btn-line">
                <button class="button-o button-square button-pasific hover-fade" ng-click="doSearch($event)" translate="common.search">
                </button>
                <button class="button-o button-square button-pasific hover-fade" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container pb20 search-result">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="markAllResultIsClicked($event)"></th>
                        <th>No.</th>
                        <th>Template Name</th>
                        <th>Create Date</th>
                        <th>Delivery Date</th>
                        <th>Doc No.</th>
                        <th>Customer Code</th>
                        <th>Customer Name</th>
                        <th>Sales Employee</th>
                        <th>Document Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList">
                        <th scope="row" ng-click="void(0);">
                            <div ng-if="result.wddStatus==='-' || result.wddStatus==='W'">
                                <input type="checkbox" ng-model="result.checked"  value="{{result.docEntry}}" ng-click="toggleObjSelection($event)" >
                            </div>
                        </th>
                        <td class="txt-c">{{$index + 1 + ((paginable.currentPage - 1) * paginable.rowPerPage)}}</td>
                        <td>{{result.wtmName}}</td>
                        <td class="txt-c">{{result.createDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.deliveryDate | date : 'dd.MM.yyyy'}}</td>
                        <td>
                            {{result.docEntry}} {{result.isDraft ? ' (Draft)' : ''}}
                        </td>
                        <td class="txt-c">
                            {{result.cardCode}}
                        </td>
                        <td>
                            {{result.cardName}}
                        </td>
                        <!-- <td>{{getSalesEmployeeName(result.slpCode)}}</td> -->
                        <td>{{result.slpName}}</td>
                        <td class="txt-c">{{result.docTotal | currency:"":0}}</td>
                    </tr>
                </tbody>
            </table>
            <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging>
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
            <div class="panel panel-info" ng-if="resultList && condition.wddStatus === 'W'">
                <div class="panel-heading">
                    <a class="accordian-toggle-chevron-left">Approval</a>
                </div>
                <div class="panel-collapse">
                    <div class="panel-body row">
                        <div class="col-md-12">               
                            <div class="form-group">
                                <label>Remark</label>
                                <textarea class="form-control input-square " name="remark" rows="5" ng-model="remark" maxlength="2000"></textarea>
                            </div>                                    
                        </div>
                        <div class="col-md-12 txt-c">
                            <button type="button" ng-click="doApprove($event)" class="button-o button-square button-pasific hover-fade" >Approve</button>
                            <button type="button" ng-click="doReject($event)" class="button-o button-square button-pasific hover-fade" >Reject</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>