<!-- Subheader Area
===================================== -->
<header class="bg-grad-stellar mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Order Status
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Item No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.itemCode" placeholder="Item No." type="text">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Name</th>
                        <th>Customer Ref No.</th>
                        <th>Delivery Date</th>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>UoM Code</th>
                        <th>UoM Name</th>
                        <th>Whs</th>
                        <th>Sales Order</th>
                        <th>Delivery</th>
                        <th>A/R Invoice</th>
                        <th>Incoming Payment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in resultList | filter: {itemCode : localCondition.itemCode}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.cardCode}}</td>
                        <td>{{result.cardName}}</td>
                        <td>{{result.numAtCard}}</td>
                        <td class="txt-c">{{result.soDocDueDate | date : 'dd.MM.yyyy'}}</td>
                        <td>{{result.itemCode}}</td>
                        <td>{{result.itemName}}</td>
                        <td class="txt-c">{{result.quantity | currency:"":0}}</td>
                        <td>{{result.uomCode}}</td>
                        <td>{{result.uomName}}</td>
                        <td>{{result.whsCode}}</td>
                        <td>
                            {{result.soDocNum}}<br>
                            {{result.soCreateDate | date : 'dd.MM.yyyy'}}<br>
                            {{result.soCreateTime}}<br>
                            {{result.soUsername}}
                        </td>
                        <td>
                            {{result.doDocNum}}<br>
                            {{result.doCreateDate | date : 'dd.MM.yyyy'}}<br>
                            {{result.doCreateTime}}<br>
                            {{result.doUsername}}
                        </td>
                        <td>
                            {{result.invDocNum}}<br>
                            {{result.invCreateDate | date : 'dd.MM.yyyy'}}<br>
                            {{result.invCreateTime}}<br>
                            {{result.invUsername}}
                        </td>
                        <td>
                            {{result.rctDocNum}}<br>
                            {{result.rctCreateDate | date : 'dd.MM.yyyy'}}<br>
                            {{result.rctCreateTime}}<br>
                            {{result.rctUsername}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.arorderstatussearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>