<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Purchase Order Movement Report (Cost)
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Doc No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.docNum" placeholder="Doc No." type="text">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th colspan="12"></th>
                        <th colspan="3">Cost</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Vendor Name</th>
                        <th>Document No.</th>
                        <th>Item/Service Description</th>
                        <th>Item No.</th>
                        <th>UoM</th>
                        <th>Qty</th>
                        <th>Remaining Open Qty</th>
                        <th>Ship Req.</th>
                        <th>ETD</th>
                        <th>ETA</th>
                        <th>WH Date 1</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Incoterms</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in resultList | filter: {docNum : localCondition.docNum}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.cardName}}</td>
                        <td>{{result.docNum}}</td>
                        <td>{{result.itemName}}</td>
                        <td>{{result.itemCode}}</td>
                        <td class="txt-c">{{result.uomCode}}</td>
                        <td class="txt-c">{{result.quantity}}</td>
                        <td class="txt-c">{{result.openQty}}</td>
                        <td class="txt-c">{{result.u_WGE_S07}}</td>
                        <td class="txt-c" ng-if="result.u_WGE_P04 && result.u_WGE_P04 > 0">{{result.u_WGE_P04 | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c" ng-if="!result.u_WGE_P04 || result.u_WGE_P04 <= 0">-</td>
                        <td class="txt-c" ng-if="result.u_WGE_P05 && result.u_WGE_P05 > 0">{{result.u_WGE_P05 | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c" ng-if="!result.u_WGE_P05 || result.u_WGE_P05 <= 0">-</td>
                        <td class="txt-c" ng-if="result.u_WGE_P10 && result.u_WGE_P10 > 0">{{result.u_WGE_P10 | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c" ng-if="!result.u_WGE_P10 || result.u_WGE_P10 <= 0 ">-</td>
                        <td class="txt-c">{{result.price}}</td>
                        <td class="txt-c">{{result.currency}}</td>
                        <td class="txt-c">{{result.u_WGE_P08}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.arpurchasecostsearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>