//Custome CSS
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 18px;
    margin: 0 0 10px 0;
}
.dragover {
    border: 5px dashed blue;
}

.navbar-sales.top-nav-collapse {
    padding: 10px 0;
    background: #fff !important;
}

.navbar-front.top-nav-collapse {
    padding: 10px 0;
    background: transparent !important;
}

.navbar-front.navbar-op.top-nav-collapse {
	border-bottom: none !important;
}

.navbar-sales {
	.container {
		background-color: white;
		border-radius: 5px;
	}
}

@media screen and (max-width: 765px) {

	.showOnMobile {
		
	}

	.showOnDesktop {
		display: none !important;
	}


	img[alt=logo] {
		margin-top: -10px !important;
		height: 45px !important;
	}

	.first-e {
		margin-top: 50px !important;
	}

}

.x-scroll {
	overflow-x: scroll !important;
}