//Front CSS

.front-content {

	.home-header {
		h1 {
			text-align: right;
		}

		a {
			cursor: pointer;
		}

		.container-fluid.showOnMobile {
			img {
				width: 350px;
			}
		}
	}
	
	.intro-direction {
		top: 61%;
		left: 0;

		button {
			width: 60% !important;
			max-width: 400px !important;
		}

		img {
			cursor: pointer;
		}
	}
}

//mobile
@media screen and (max-width: 1199px) {
	.bg-wg {
		background: url('../images/bg-06.png') 50% 50% no-repeat;background-size:cover !important;
	}

	.intro-direction {
		margin-top: 24%;

		img {
			width: 350px !important;
		}
	}
}

@media screen and (min-width: 1200px) {
	.bg-wg {
		background: url('../images/bg-03.png') 50% 50% no-repeat;background-size:cover;
	}

	.intro-direction {
		margin-left: -25%;

		img {
			width: 50% !important;
			max-width: 300px !important;
		}
	}
}