//Main CSS

//mobile
@media screen and (max-width: 1199px) {

	.showOnMobile {
		
	}

	.showOnDesktop {
		display: none !important;
	}


	img[alt=logo] {
		margin-top: -10px !important;
		height: 45px !important;
	}

}

//desktop
@media screen and (min-width: 1200px) {

	.showOnMobile {
		display: none !important;
	}

	.showOnDesktop {
		
	}

}

.search-condition {
	.btn-line {
		text-align: center;
	}
}

.edit-detail {
	.btn-line {
		text-align: center;
		margin-top: 2em;
	}
}

.edit-dialog {
	.btn-line {
		text-align: center;
	}
}

th {
	text-align: center;
}

.search-result {

	tr[ng-click] {
		cursor: pointer;
	}

	.btn-line {
		text-align: left;
	}
}

.edit-modal {
	.modal-dialog {
		width: 80%;
		max-width: 100%;
	}
}

.app-modal {
	.modal-icon {
		i {
			font-size: 5em;
		}
	}
}

.mar-auto {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.w100 {
	width: 100%;
}

.txt-c {
	text-align: center;
}

.txt-r {
	text-align: right;
}

.scroll-row {
	overflow-x: scroll;
	padding-bottom: 10px;
}

img[alt=logo] {
	height: 100px;
}

.nav.navbar-nav {
	li {
		cursor: pointer;
	}
}

.btn-form-group {
	margin-top: 2em;
}

[ng-click] {
	cursor: pointer;
}

input[type=radio] {
	cursor: pointer;
}

.first-e {
	margin-top: 70px;
}

tr {
	height: 35px !important;
	overflow: hidden !important;

	td {
		height: 18px !important;
		overflow: hidden !important;
	}

	td.value {
		line-height: 2.7em !important;
	}
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 2.4em;
}

tr.summary-row {
	background-color: antiquewhite;
}

span.user-display {
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

//common
#softloader {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    .soft-loader-item {
	    margin: auto;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    height: 100px;
	    width: 100px;

	    img {
	    	width: 100px;
	    	height: 100px;
	    }
	}
}

//Customs theme
.navbar-pasific .navbar-brand {
	color: #555 !important;
}

.navbar-pasific .navbar-nav {
	li {
		a {
			color: #555 !important;
		}
	}
}
	
.navbar-nav {
	cursor: pointer !important;
}

.form-group.checkbox {
	margin-top: 2.2em !important;
}

.form-group.form-btn {
	margin-top: 1.75em !important;
}

ul.navbar.navbar-main-collapse.navbar-nav {
	margin-right: 2em;
}

.intro-direction {
	left: 0 !important;
	width: 100%;
}

.input-group-span-middle {
	display: flex;
	
	span {
		line-height: 2.4em;
    	padding: 0 5px 0 5px;
	}
}

div.auto-complete-container ul.auto-complete-results li.auto-complete-item {
	padding: 0 1em !important;
}

p.auto-complete {
	margin: 0 !important;
}

div[ng-dropdown-multiselect] {
	div.multiselect-parent {
		//overflow-x: hidden !important;
	}
	
}