//Sales CSS

.menu-content {
	div.row {
		div {
			cursor: pointer;
		}
	}
}

.sales-dashboard {
	.menu-box-row {
		//max-width: 850px;
		text-align: center;
		margin-left: auto;
    	margin-right: auto;
    	float: none;

    	.content-box {
    		img {
    			width: 85px;
    		}
    	}
	}

	.menu-box-row > div {
		
		height: 170px;
		text-align: center;

		.content-box.content-box-center {
			margin-left: auto;
	    	margin-right: auto;
	    	float: none;
	    	cursor: pointer;
	    	padding-top: 20px;
		}
	}

	.menu-box-row > div > div:hover {
		img {
			-webkit-box-shadow: 0 0 40px #aaa;	
	        -moz-box-shadow: 0 0 40px #aaa;
	        box-shadow: 0 0 40px #aaa;
		}
        
    }
}

img.sales-logo[alt=logo] {
	margin-top: -10px !important;
	height: 45px;
}

.td-icon-btn {
	color: red;
	font-size: 1.5em;
}

table.table.order-item {
	td:nth-child(3) {
		min-width: 150px;
	}

	td:nth-child(4) {
		min-width: 250px;
	}

	td:nth-child(5) {
		min-width: 150px;
	}

	td:nth-child(7) {
		min-width: 100px;
	}

	td:nth-child(9) {
		min-width: 150px;
	}

	td:nth-child(10) {
		min-width: 100px;
	}

	td:nth-child(11) {
		min-width: 150px;
	}

	td:nth-child(12) {
		min-width: 220px;
	}

	td:nth-child(13) {
		min-width: 150px;
	}

	td:nth-child(14) {
		min-width: 150px;
	}

	td:nth-child(15) {
		min-width: 150px;
	}

	td:nth-child(16) {
		min-width: 150px;
	}

	td:nth-child(17) {
		min-width: 150px;
	}

	td:nth-child(18) {
		min-width: 250px;
	}

	td:nth-child(19) {
		min-width: 250px;
	}

	td:nth-child(20) {
		min-width: 250px;
	}

	td:nth-child(21) {
		min-width: 250px;
	}

	td:nth-child(22) {
		min-width: 250px;
	}

	td:last-child {
		min-width: 300px;
	}
}

table.table.batch-trans {
	td:nth-child(2) {
		min-width: 150px;
	}

	td:nth-child(3) {
		min-width: 250px;
	}

	td:nth-child(4) {
		min-width: 150px;
	}

	td:nth-child(8) {
		min-width: 100px;
	}

	td:nth-child(9) {
		min-width: 100px;
	}

	td:nth-child(11) {
		min-width: 100px;
	}

	td:nth-child(12) {
		min-width: 100px;
	}

	td:nth-child(13) {
		min-width: 100px;
	}

	td:nth-child(14) {
		min-width: 100px;
	}

	td:nth-child(15) {
		min-width: 100px;
	}

	td:nth-child(16) {
		min-width: 150px;
	}

}

table.table.analysis {
	td:nth-child(5) {
		min-width: 200px;
	}

	td:nth-child(7) {
		min-width: 200px;
	}
}

.yellow-td {
	td {
		background-color: #ffff83;
	}
}

.red-td {
	td {
		background-color: #f16363;
		color: white;
		i {
			color: white;
		}
	}
}

.green-td {
	td {
		background-color: #4cde0f;
	}
}

#searchPartnerModal {
	table {
		td:nth-child(2) {
			min-width: 150px;
		}

		td:nth-child(3) {
			min-width: 250px;
		}

		td:nth-child(4) {
			min-width: 150px;
		}

		td:nth-child(5) {
			min-width: 150px;
		}

		td:nth-child(6) {
			min-width: 150px;
		}

		td:nth-child(7) {
			min-width: 150px;
		}

		td:nth-child(8) {
			min-width: 150px;
		}

		td:nth-child(9) {
			min-width: 150px;
		}

		td:nth-child(10) {
			min-width: 150px;
		}

		td:nth-child(11) {
			min-width: 100px;
		}

	}
}