<!-- Login Modal Dialog Box
===================================== -->
<div ng-controller="confirmModalCtrl" class="modal fade app-modal" id="confirmModal" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
             <div class="modal-header icon-box">
                <div class="icon-box-success">
                    <i class="fa  fa-question-circle fa-fw"></i>
                </div>
            </div> 
            <div class="modal-body pt10">
                <div class="text-center">
                    <h3>{{modal.bean.title}}</h3>
                </div>
                <div class="text-center pt25">
                    <span class="color-dark">
                        {{modal.bean.message}}
                    </span>
                </div>
                <div class="text-center mt40">
                    <button class="button button-pasific" data-dismiss="modal" ng-click="modal.okFnc()" 
                    type="button" translate="common.ok">
                        
                    </button>
                    <button class="button button-pasific" data-dismiss="modal" type="button"
                    translate="common.cancel">
                        
                    </button>
                </div>
            </div>
            <div class="modal-footer bg-gray">
                <span class="text-center">
                </span>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>