<!-- Login Modal Dialog Box
===================================== -->
<div ng-controller="loginModalCtrl" class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-lock fa-fw">
                    </i>
                    {{'common.signin' | translate}}
                </h5>
            </div>
            <div class="modal-body pt25">
                <form class="form-horizontal mt15 ml25" ng-submit="doLogin($event)">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputEmail3" translate="auth.username">
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputEmail3" placeholder="Username" ng-model="bean.userName" type="text" required>
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputPassword3" translate="auth.password">
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputPassword3" placeholder="Password" ng-model="bean.userPassword" type="password" required>
                            </input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputCompany">Company</label>
                        <div class="col-sm-8">
                            <select class="input-square form-control" ng-model="bean.company" required>
                                <option value="" translate="option.pleaseselect">
                                </option>
                                <option ng-repeat="opt in companyList" value="{{opt.code}}">
                                    {{opt.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button class="button button-pasific button-block" type="submit" translate="common.signin">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-gray">
                <span class="text-center">
                </span>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>