<!-- Logout Modal Dialog Box
===================================== -->
<div ng-controller="logoutModalCtrl" class="modal fade app-modal" id="logoutModal" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <!-- <button class="close" data-dismiss="modal" type="button">
                    ×
                </button> -->
                <div class="modal-icon text-center pt10 color-warning">
                    <i class="fa  fa-sign-out fa-fw">
                    </i>
                </div>
            </div>
            <div class="modal-body pt10">
                <div class="text-center">
                    <h3 translate="common.signout"></h3>
                </div>
                <div class="text-center pt25">
                    <span class="color-dark">
                        {{'auth.signout.question' | translate}}
                    </span>
                </div>
                <div class="text-center mt40">
                    <button class="button button-pasific" ng-click="doLogout($event)" 
                    type="button" translate="common.ok">
                        
                    </button>
                    <button class="button button-pasific" data-dismiss="modal" type="button"
                    translate="common.cancel">
                        
                    </button>
                </div>
            </div>
            <div class="modal-footer bg-gray">
                <span class="text-center">
                </span>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>