<!-- Alert Modal Dialog Box
===================================== -->
<div ng-controller="validateModalCtrl" class="modal fade app-modal" id="validateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header icon-box">
                <div class="icon-box-success">
                    <i class="fa  fa-info-circle fa-fw"></i>
                </div>
            </div> 
            <div class="modal-body pt10">
                <div class="text-center">
                    <!-- <h3  translate="label.validate.dialog"></h3> -->
                    <h3>{{modal.bean.title}}</h3>
                </div>
                <div class="text-center pt25">
                    <span ng-repeat="message in messages">{{modal.bean.messages}}</span>
                </div>
                <div class="text-center mt40">
                    <button class="button button-pasific button-block" 
                    data-dismiss="modal" type="button" translate="common.ok">
                        
                    </button>
                </div>
            </div>
            <div class="modal-footer bg-gray">
                <span class="text-center">
                </span>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>