<div class="form-group">
    <label>{{label}}</label>
	<input name="{{name}}" ng-model="dateStr" type="text" class="form-control input-square " placeholder="dd.mm.yyyy" ng-blur="doTypeText($event)" ng-dblclick="typeState=!typeState" maxlength="8" ng-show="typeState" ng-required="required">
	<input name="{{name}}" ng-model="ngModel" type="date" class="form-control input-square " placeholder="dd.mm.yyyy" ng-change="doSelectDate($event)" ng-blur="doSelectDate($event)" ng-dblclick="typeState=!typeState" ng-show="!typeState" ng-required="required">
</div>