<!-- Canvas Area
===================================== -->       
<header class="intro bg-wg home-header">            
    <div class="intro-body">
        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading-big text-capitalize font-pacifico mt-100 color-light animated" data-animation="fadeInUp" data-animation-delay="100">
                        <span class="rotate">Welcome to Web Sales for SAP</span>
                    </h1>
                </div>
            </div>

        </div> -->
        <div class="container-fluid showOnMobile">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/logo-05B.png" >
                </div>
            </div>

        </div>

        <div class="intro-direction">
        	<div class="row">
				<div class="col-md-12">
					<!-- <button class="button button-square button-pasific button-lg hover-ripple-out animated fadeInUp visible button-block" translate="common.go.in" data-target="#loginModal" data-toggle="modal" href="#">
                    Go
	                </button> -->
                    <img src="images/bt-04.png" data-target="#loginModal" data-toggle="modal" href="#">
	            </div>
            </div>
        </div>
        
    </div>
</header>
<div></div>