<!-- Subheader Area
===================================== -->
<header class="bg-grad-day-tripper mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.bp.master' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb50 edit-detail">
    <form name="edit-form" ng-submit="doSave($event)">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.edit"></h4>
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Customer Code *</label>
                    <input name="cardCode" ng-model="bean.cardCode" type="text" class="input-square form-control" placeholder="Code" maxlength="10" required ng-readonly="'add'!==mode">
                </div>                                          
            </div>
            
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Customer Name *</label>
                    <input name="cardName" ng-model="bean.cardName" type="text" class="input-square form-control" placeholder="Name" maxlength="100" required>
                </div>                                               
            </div>
            
            <div class="col-md-6">               
                <div class="form-group">
                    <label>Group *</label>
                    <select name="groupCode" class="input-square form-control" ng-model="bean.groupCode" convert-to-number required ng-if="'add'===mode">
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in bpGroupList" value="{{opt.groupCode}}">
                            {{opt.groupName}}
                        </option>
                    </select>
                    <input name="groupName" ng-model="bean.groupName" type="text" class="input-square form-control" placeholder="Name" readonly maxlength="100" ng-if="'add'!==mode">
                </div>                                          
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Federal Tax ID</label>
                    <input name="federalTaxID" ng-model="bean.federalTaxID" type="text" class="input-square form-control" placeholder="Federal Tax ID" maxlength="20">
                </div>                                          
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Account Balance</label>
                    <input name="balance" ng-model="bean.balance" type="number" class="input-square form-control" placeholder="Account Balance" max="1000000000" min="0" step="any" readonly>
                </div>                                          
            </div>

            <!-- <div class="col-md-6">               
                <div class="form-group">
                    <label>Deliveries</label>
                    <input name="deliveries" ng-model="bean.deliveries" type="number" class="input-square form-control" placeholder="Deliveries" max="1000000000" min="0" step="any">
                </div>                                          
            </div> -->

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Orders</label>
                    <input name="ordersBal" ng-model="bean.ordersBal" type="number" class="input-square form-control" placeholder="Orders" max="1000000000" min="0" step="any" readonly>
                </div>                                          
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                  <li ng-class="{active: tabIndex===0}"><a data-toggle="tab" ng-click="toggleTab($event, 0)">General</a></li>
                  <li ng-class="{active: tabIndex===1}"><a data-toggle="tab" ng-click="toggleTab($event, 1)">Contact Person</a></li>
                  <li ng-class="{active: tabIndex===2}"><a data-toggle="tab" ng-click="toggleTab($event, 2)">Address</a></li>
                  <li ng-class="{active: tabIndex===3}"><a data-toggle="tab" ng-click="toggleTab($event, 3)">Payment Terms</a></li>
                  <li ng-class="{active: tabIndex===4}"><a data-toggle="tab" ng-click="toggleTab($event, 4)">Accounting</a></li>
                  <li ng-class="{active: tabIndex===5}"><a data-toggle="tab" ng-click="toggleTab($event, 5)">Properties</a></li>
                  <li ng-class="{active: tabIndex===6}"><a data-toggle="tab" ng-click="toggleTab($event, 6)">Remarks</a></li>
                  <li ng-class="{active: tabIndex===7}"><a data-toggle="tab" ng-click="toggleTab($event, 7)">Attachments</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-general" class="tab-pane fade in active row" ng-if="tabIndex===0">
                        <div class="col-md-6">             
                            <div class="form-group">
                                <label>Tel 1</label>
                                <input name="phone1" ng-model="bean.phone1" type="text" class="input-square form-control" placeholder="Tel no." maxlength="20">
                            </div>   
                        </div>

                        <div class="col-md-6">             
                            <div class="form-group">
                                <label>Tel 2</label>
                                <input name="phone2" ng-model="bean.phone2" type="text" class="input-square form-control" placeholder="Tel no." maxlength="20">
                            </div>    
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>Mobile Phone</label>
                                <input name="cellular" ng-model="bean.cellular" type="text" class="input-square form-control" placeholder="Mobile no." maxlength="20">
                            </div>   
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>Fax</label>
                                <input name="fax" ng-model="bean.fax" type="text" class="input-square form-control" placeholder="Fax no." maxlength="20">
                            </div>   
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>E-Mail</label>
                                <input name="email" ng-model="bean.emailAddress" type="text" class="input-square form-control" placeholder="@" maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>Web Site</label>
                                <input name="website" ng-model="bean.website" type="text" class="input-square form-control" placeholder="www." maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Shipping Type *</label>
                                <select name="shippingType" class="input-square form-control" ng-model="bean.shippingType" convert-to-number required>
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in shippingTypeList" value="{{opt.trnspCode}}">
                                        {{opt.trnspName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sales Employee *</label>
                                <select name="salesPersonCode" class="input-square form-control" ng-model="bean.salesPersonCode" convert-to-number required>
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                                        {{opt.slpName}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input style="margin: 0 3px 0 3px" type="checkbox" class="" value="Y" ng-model="bean.validFor" readonly> {{ bean.validFor ? 'Active' : 'Inactive' }} -->  <!-- <span ng-if="bean.validFor">Remarks</span> -->
                                <!-- </label> -->
                                <!-- <input name="activeRemarks" ng-model="bean.activeRemarks" type="text" class="input-square form-control" placeholder="Remarks" maxlength="200" ng-if="bean.validFor"> -->
                            <!-- </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <!-- <input class="input-square form-control" type="text" name="validFor"  value="{{bean.validFor ? 'Active' : 'Inactive'}}" readonly> -->
                                <input class="input-square form-control" type="text" name="status" ng-model="bean.status" readonly>
                            </div>
                        </div>

                        <!-- <div class="col-md-6" ng-if="bean.validFor"> 
                            <div class="form-group">
                                <label>From</label>
                                <input name="activeFrom" ng-model="bean.activeFrom" type="date" class="input-square form-control" placeholder="From" >
                            </div>    
                        </div>

                        <div class="col-md-6" ng-if="bean.validFor"> 
                            <div class="form-group">
                                <label>To</label>
                                <input name="activeTo" ng-model="bean.activeTo" type="date" class="input-square form-control" placeholder="To" >
                            </div>    
                        </div> -->
                    </div>
                    <div id="tab-contactperson" class="tab-pane fade in active row" ng-show="tabIndex===1">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doAddContactPerson($event)">Add Contact Person</button>
                                </div>
                            </div>
                            <table class="table table-striped" ng-if="bean.bpContactList">
                                <thead>
                                    <tr>
                                        <th>Contact List</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{'info': selectedContactPerson.name===contact.name}" ng-repeat="contact in bean.bpContactList" ng-click="doSelectContactPerson($event, contact)">
                                        <td>{{contact.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6" ng-show="selectedContactPerson">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doRemoveContactPerson($event, selectedContactPerson.name)">Remove Contact Person</button>
                                </div>
                            </div>
                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Contact ID</label>
                                    <input name="contactId" ng-model="selectedContactPerson.name" type="text" class="input-square form-control" placeholder="Contact ID" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input name="firstName" ng-model="selectedContactPerson.firstName" type="text" class="input-square form-control" placeholder="First name" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input name="middleName" ng-model="selectedContactPerson.middleName" type="text" class="input-square form-control" placeholder="Middle name" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input name="lastName" ng-model="selectedContactPerson.lastName" type="text" class="input-square form-control" placeholder="Last name" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Title</label>
                                    <input name="title" ng-model="selectedContactPerson.title" type="text" class="input-square form-control" placeholder="Title" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Position</label>
                                    <input name="position" ng-model="selectedContactPerson.position" type="text" class="input-square form-control" placeholder="Position" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Address</label>
                                    <input name="address" ng-model="selectedContactPerson.address" type="text" class="input-square form-control" placeholder="Address" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Telephone 1</label>
                                    <input name="phone1" ng-model="selectedContactPerson.phone1" type="text" class="input-square form-control" placeholder="Tel no." maxlength="20">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Telephone 2</label>
                                    <input name="phone2" ng-model="selectedContactPerson.phone2" type="text" class="input-square form-control" placeholder="Tel no." maxlength="20">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Mobile Phone</label>
                                    <input name="mobilePhone" ng-model="selectedContactPerson.mobilePhone" type="text" class="input-square form-control" placeholder="Mobile no." maxlength="20">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Fax</label>
                                    <input name="fax" ng-model="selectedContactPerson.fax" type="text" class="input-square form-control" placeholder="Fax no." maxlength="20">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="email" ng-model="selectedContactPerson.e_Mail" type="text" class="input-square form-control" placeholder="E-mail" maxlength="100">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Remark 1</label>
                                    <input name="remarks1" ng-model="selectedContactPerson.remarks1" type="text" class="input-square form-control" placeholder="Remark" maxlength="200">
                                </div>   
                            </div>

                            <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Remark 2</label>
                                    <input name="remarks2" ng-model="selectedContactPerson.remarks2" type="text" class="input-square form-control" placeholder="Remark" maxlength="200">
                                </div>   
                            </div>

                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label>E-mail Group</label>
                                    <select class="input-square form-control" ng-model="selectedContactPerson.emailGroup">
                                        <option value="" translate="option.pleaseselect">
                                        </option>
                                        <option ng-repeat="opt in emailGroupList" value="{{opt.value}}">
                                            {{opt.name}}
                                        </option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div id="tab-address" class="tab-pane fade in active row" ng-show="tabIndex===2">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doAddBillTo($event)">Add Bill To</button>
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doAddShipTo($event)">Add Ship To</button>
                                </div>
                            </div>
                            <div class="col-md-12">                    
                                <div class="panel-group">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <a class="accordian-toggle-chevron-left">Bill To</a>
                                        </div>
                                        <div class="panel-collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped" ng-if="bean.bpBillList">
                                                    <tbody>
                                                        <tr ng-class="{'info': selectedAddress.address===address.address}" ng-repeat="address in bean.bpBillList" ng-click="doSelectBillTo($event, address)">
                                                            <td>{{address.address}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <a class="accordian-toggle-chevron-left">Ship To</a>
                                        </div>
                                        <div class="panel-collapse">
                                            <div class="panel-body">
                                                <table class="table table-striped" ng-if="bean.bpShipList">
                                                    <tbody>
                                                        <tr ng-class="{'info': selectedAddress.address===address.address}" ng-repeat="address in bean.bpShipList" ng-click="doSelectShipTo($event, address)">
                                                            <td>{{address.address}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-show="selectedAddress">
                            <div class="col-md-12" ng-if="'Bill To'===selectedAddressHeader">
                                <div class="form-group">
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doRemoveBillTo($event, selectedAddress.address)">Remove Bill To Address</button>
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doCopyToShip($event, selectedAddress)">Copy To Ship Address</button>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="'Ship To'===selectedAddressHeader">
                                <div class="form-group">
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doRemoveShipTo($event, selectedAddress.address)">Remove Ship To Address</button>
                                    <button type="button" class="button-o button-square button-pasific hover-fade" ng-click="doCopyToBill($event, selectedAddress)">Copy To Bill Address</button>
                                </div>
                            </div>
                            <div class="col-md-12">             
                                <div class="form-group">
                                    <h4 class="text-center">                            
                                        {{selectedAddressHeader}}
                                        <small class="heading heading-double-icon center-block">
                                            <span>&nbsp;</span>
                                            <i class="fa fa-suitcase"></i>
                                            <span>&nbsp;</span>
                                        </small>
                                    </h4>
                                </div>   
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address ID</label>
                                    <input name="address" ng-model="selectedAddress.address" type="text" class="input-square form-control" placeholder="Address ID" maxlength="200">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address Name 2</label>
                                    <input name="addressName2" ng-model="selectedAddress.addressName2" type="text" class="input-square form-control" placeholder="Address Name" maxlength="200">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address Name 3</label>
                                    <input name="addressName3" ng-model="selectedAddress.addressName3" type="text" class="input-square form-control" placeholder="Address Name" maxlength="200">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Street/PO Box (Address)</label>
                                    <input name="street" ng-model="selectedAddress.street" type="text" class="input-square form-control" placeholder="Street/PO Box" maxlength="200">
                                </div>
                            </div>

                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>Block</label>
                                    <input name="block" ng-model="selectedAddress.block" type="text" class="input-square form-control" placeholder="Block" maxlength="200">
                                </div>
                            </div> -->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address Location</label>
                                    <input name="fullAddr" ng-model="selectedAddress.fullAddr" type="text" class="input-square form-control" placeholder="Location" maxlength="20" auto-complete="addressOptions">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input name="city" ng-model="selectedAddress.city" type="text" class="input-square form-control" placeholder="City" maxlength="200" readonly>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>County</label>
                                    <!-- <select class="input-square form-control" ng-model="selectedAddress.country" ng-change="doRefreshStateList($event, selectedAddress.country)">
                                        <option value="" translate="option.pleaseselect">
                                        </option>
                                        <option ng-repeat="opt in countryList" value="{{opt.code}}">
                                            {{opt.name}}
                                        </option>
                                    </select> -->
                                    <input name="amphur" ng-model="selectedAddress.amphur" type="text" class="input-square form-control" placeholder="County" maxlength="200" readonly>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>District</label>
                                    <input name="tambon" ng-model="selectedAddress.tambon" type="text" class="input-square form-control" placeholder="Tambon" maxlength="200" readonly>
                                </div>
                            </div>

                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="input-square form-control" ng-model="selectedAddress.state">
                                        <option value="" translate="option.pleaseselect">
                                        </option>
                                        <option ng-repeat="opt in stateList" value="{{opt.code}}">
                                            {{opt.name}}
                                        </option>
                                    </select>
                                </div>
                            </div> -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zip code</label>
                                    <input name="zipcode" ng-model="selectedAddress.zipCode" type="text" class="input-square form-control" placeholder="Zip Code" maxlength="20" readonly>
                                </div>
                            </div>

                            <!-- <div class="col-md-12">             
                                <div class="form-group">
                                    <label>Federal Tax ID</label>
                                    <input name="contactId" ng-model="selectedAddress.federalTaxId" type="text" class="input-square form-control" placeholder="Federal Tax ID" maxlength="200">
                                </div>
                            </div> -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Branch Code</label>
                                    <input name="branchCode" ng-model="selectedAddress.bpBrnCode" type="text" class="input-square form-control" placeholder="Branch Code" maxlength="100">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Branch Name</label>
                                    <input name="branchName" ng-model="selectedAddress.bpBrnName" type="text" class="input-square form-control" placeholder="Branch Name" maxlength="100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-paymentterms" class="tab-pane fade in active row" ng-show="tabIndex===3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Terms *</label>
                                <select name="payTermsGrpCode" class="input-square form-control" ng-model="bean.payTermsGrpCode" convert-to-number required>
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in paymentTermsList" value="{{opt.groupNum}}" readonly>
                                        {{opt.pymntGroup}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Credit Limit *</label>
                                <input name="creditLimit" ng-model="bean.creditLimit" type="number" class="input-square form-control" placeholder="Credit Limit" max="1000000000" min="0" step="any" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price List *</label>
                                <select name="priceListNum" class="input-square form-control" ng-model="bean.priceListNum" convert-to-number required>
                                        <option value="" translate="option.pleaseselect">
                                        </option>
                                        <option ng-repeat="opt in priceList" value="{{opt.listNum}}">
                                            {{opt.listName}}
                                        </option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div id="tab-accounting" class="tab-pane fade in active row" ng-show="tabIndex===4">
                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label>Consolidate BP</label>
                                <select class="input-square form-control" ng-model="bean.fatherCard">
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in consolidateBpList" value="{{opt.value}}">
                                        {{opt.name}}
                                    </option>
                                </select>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Consolidate BP</label>
                                <input name="fatherCard" ng-model="bean.fatherCard" type="text" class="input-square form-control" placeholder="Consolidate BP" maxlength="200" auto-complete="consolidateOptions">
                            </div>
                        </div>
                    </div>
                    <div id="tab-properties" class="tab-pane fade in active row" ng-show="tabIndex===5">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="txt-c">#</th>
                                    <th>Property Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="property in propertiesList" ng-click="doClickProperties($event, property)" >
                                    <td class="txt-c">{{$index + 1}}</td>
                                    <td>{{property.groupName}}</td>
                                    <td class="txt-c"><input type="checkbox" value="{{property.groupCode}}" ng-click="doClickProperties($event, property)" ng-model="property.checked"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-remark" class="tab-pane fade in active row" ng-show="tabIndex===6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Remark</label>
                                <textarea class="form-control input-square " name="freeText" rows="5" ng-model="bean.freeText" maxlength="2000"></textarea>
                            </div>
                            
                        </div>
                    </div>
                    <div id="tab-attachments" class="tab-pane fade in active row" ng-show="tabIndex===7">
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-12">
                                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="doUpload()" translate="common.add">
                                </button>
                            
                                <!-- <button ng-if="resultList" class="button-o button-square button-pasific hover-fade" ng-click="doDeleteResultList($event)" translate="common.delete">
                                </button> -->
                            </div>
                        </div>
                        <div class="row" ng-show="showUpload">
                            <div class="col-md-12">
                                <!-- <div ngf-drop="onUploadFile($file)" class="drop-box"
                                  ngf-drag-over-class="'dragover'">Drop files here</div> -->
                                <div ngf-drop="onUploadFile($file)" ngf-select="onUploadFile($file)" ngf-max-size="5MB" class="drop-box" 
                                    ngf-drag-over-class="'dragover'">Drop file here to upload</div>
                            </div>
                        </div>

                        <div class="row" ng-if="bean.attachments">
                            <div class="col-md-12">
                                <h4 class="text-left mb10">Attachments</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>File Name</th>
                                            <th>Upload Date</th>
                                            <th>Download</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in bean.attachments track by result.fileName">
                                            <td class="txt-c">{{$index + 1}}</td>
                                            <td>
                                                {{result.fileName}}
                                            </td>
                                            <td class="txt-c">
                                                {{result.date | date : 'dd.MM.yyyy'}}
                                            </td>
                                            <td class="txt-c">
                                                <i class="fa fa-download td-icon-btn" aria-hidden="true" ng-click="doDownloadFile($event, $index, result)"></i>
                                            </td>
                                            <td class="txt-c">
                                                <i class="fa fa-minus-circle td-icon-btn" aria-hidden="true" ng-click="doDeleteFile($event, $index, result.fileName)"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <span class="result-not-found" ng-if="!bean.attachments" translate="msg.error.not_found">
                                </span> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-success">
            <div class="panel-heading" ng-click="toggleUdf($event)">
                <a class="accordian-toggle-chevron-left" ng-class="{collapsed: !showUdf}" data-toggle="collapse">UDF</a>
            </div>
            <div id="collapse-udf" class="panel-collapse" ng-class="{collapse: !showUdf}" >
                <div class="panel-body row">
                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Billing by</label>
                            <input name="billingBy" ng-model="bean.u_WGE_Billing" type="text" class="input-square form-control" placeholder="Billing by" maxlength="200">
                        </div>                                          
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Payment Details</label>
                            <input name="paymentDetails" ng-model="bean.u_WGE_PayDetail" type="text" class="input-square form-control" placeholder="Payment Details" maxlength="200">
                        </div>                                          
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Billing Instruction</label>
                            <textarea class="form-control input-square" name="billingInstruction" rows="5" ng-model="bean.u_WGE_BillingIns" maxlength="1000"></textarea>
                        </div>       
                        
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Pring Billing Statement</label>
                            <input name="printBillingStatement" ng-model="bean.u_WGE_BillState" type="text" class="input-square form-control" placeholder="Pring Billing Statement" maxlength="200">
                        </div>                                          
                    </div>

                    <!-- <div class="col-md-6">               
                        <div class="form-group">
                            <label>Shelf life</label>
                            <input name="shelfLife" ng-model="bean.u_WGE_ShelfLife" type="text" class="input-square form-control" placeholder="Y/N" maxlength="1">
                        </div>                                          
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btn-line">
                <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.bpmastersearch" translate="common.back"></button>
                <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button>
            </div>
        </div>
    </form> 
</div>
