<!-- Subheader Area
===================================== -->
<header class="bg-grad-blood-mary mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.bp.master' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCode" placeholder="Code" type="text">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardName" placeholder="Name" type="text">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Sales Employee</label>
                    <!-- <select class="input-square form-control" ng-model="condition.slpCode" convert-to-number>
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in salesEmployeeList" value="{{opt.slpCode}}">
                            {{opt.slpName}}
                        </option>
                    </select> -->
                    <div ng-dropdown-multiselect options="salesEmployeeList" selected-model="condition.selectedSales" extra-settings="salesExSetting"></div>
                </div>
            </div>
            <div class="col-md-12 btn-line">
                <button class="button-o button-square button-pasific hover-fade" ng-click="doSearch($event)" translate="common.search">
                </button>
                <button class="button-o button-square button-pasific hover-fade" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 btn-line">
            <button class="button-o button-square button-pasific hover-fade" ng-click="gotoDetail($event)" translate="common.add">
            </button>
        
         <!-- <button ng-if="resultList" class="button-o button-square button-pasific hover-fade" ng-click="doDeleteResultList($event)" translate="common.delete">
     	</button> -->
     </div>
    </div>
   
</div>
<div class="container pb20 search-result">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                    	<!-- <th><input type="checkbox" ng-click="markAllResultIsClicked($event)"></th> -->
                        <th>No.</th>
                        <th>Customer Code</th>
                        <th>Customer Name</th>
                        <th>Sales Employee</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList track by result.cardCode">
                       	<!-- <th scope="row">
                            <div>
                                <input type="checkbox" ng-model="result.checked"  value="{{result.departmentId}}" ng-click="toggleObjSelection($event)" >
                            </div>
                        </th> -->
                        <td class="txt-c">{{$index + 1 + ((paginable.currentPage - 1) * paginable.rowPerPage)}}</td>
                        <td>
                            {{result.cardCode}}
                        </td>
                        <td>
                            {{result.cardName}}
                        </td>
                        <td>
                            {{getSalesEmployeeName(result.salesPersonCode)}}
                        </td>
                        <td>
                            {{result.status}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging>
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
</div>