<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.batchnoreport' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <!-- <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Item No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.itemNo" placeholder="Item No." type="text" disabled>
                </input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Transactions for Batch</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.batchNo" placeholder="Batch No" type="text" disabled>
                </input>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Doc No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.docNo" placeholder="Doc No." type="text" >
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Document No.</th>
                        <th>Doc. Row</th>
                        <th>Date</th>
                        <th>Whse</th>
                        <th>First Bin Location</th>
                        <th>G/L Acct/BP Name</th>
                        <th>Qty</th>
                        <th>Allocated</th>
                        <th>Direction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'info' : result.direction === '0', 'danger' : result.direction === '1', 'warning' : result.direction === '2', 'green-td' : result.direction === '3' }" ng-repeat="result in resultList | filter: {prefixDocNum : localCondition.docNo}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.prefixDocNum}}</td>
                        <td class="txt-c">{{result.applyLine}}</td>
                        <td class="txt-c">{{result.docDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.locCode}}</td>
                        <td class="txt-c">{{result.binCode}}</td>
                        <td>{{result.cardName}}</td>
                        <td class="txt-c">{{result.quantity | currency:"":0}}</td>
                        <td class="txt-c">{{result.allocQty | currency:"":0}}</td>
                        <td class="txt-c">{{result.directionName}}</td>
                    </tr>
                    <tr class="summary-row">
                        <td class="txt-c" colspan="7">Summary</td>
                        <td class="txt-c">{{sumQty(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumAllocate(resultList) | currency:"":0}}</td>
                        <td class="txt-c"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.invbatchnumberreportview" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>