<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.batchnoreport' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form" ng-submit="gotoDetail($event)">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item No. From *</label>
                    <input name="itemCodeFrom" class="input-square form-control" maxlength="100" ng-model="condition.itemCodeFrom" placeholder="Item no." type="text" required auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To *</label>
                    <input name="itemCodeTo" class="input-square form-control" maxlength="100" ng-model="condition.itemCodeTo" placeholder="Item no." type="text" required auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Posting Date From</label>
                    <input class="input-square form-control" ng-model="condition.docDateFrom" placeholder="Posting Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Posting Date From" ng-model="condition.docDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.docDateTo" placeholder="Posting Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.docDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Expiration Date From</label>
                    <input class="input-square form-control" ng-model="condition.expDateFrom" placeholder="Exp Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="Expiration Date From" ng-model="condition.expDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.expDateTo" placeholder="Exp Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.expDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Customer/Vendor From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeFrom" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeTo" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Warehouse</label>
                    <!-- <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeTo" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input> -->
                    <div ng-dropdown-multiselect options="whseList" selected-model="condition.selectedWhse" extra-settings="whseExSetting"></div>
                </div>
            </div>
            
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label>Item Group</label>
                    <select class="input-square form-control" ng-model="condition.itemGroup">
                        <option value="" translate="option.all">
                        </option>
                        <option ng-repeat="opt in itemGroupList" value="{{opt.itmsGrpCod}}">
                            {{opt.itmsGrpNam}}
                        </option>
                    </select>
                </div>
            </div> -->
            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.report">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>