<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.batchnoreport' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Item No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.itemCode" placeholder="Item No." type="text">
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 x-scroll">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table batch-trans" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>Batch</th>
                        <th>Whse</th>
                        <th>Quantity</th>
                        <th>Allocated</th>
                        <th>Batch Attribute 1</th>
                        <th>Batch Attribute 2</th>
                        <th>Status</th>
                        <th>Expiration Date</th>
                        <th>Manufacturing Date</th>
                        <th>Admission Date</th>
                        <th>Location</th>
                        <th>System Number</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList | filter: {itemCode : localCondition.itemCode}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.itemCode}}</td>
                        <td>{{result.itemName}}</td>
                        <td class="txt-c">{{result.distNumber}}</td>
                        <td>{{result.whsCode}}</td>
                        <td class="txt-c">{{result.quantity | currency:"":0}}</td>
                        <td class="txt-c">{{result.commitQty | currency:"":0}}</td>
                        <td>{{result.mnfSerial}}</td>
                        <td>{{result.lotNumber}}</td>
                        <td class="txt-c">{{result.status}}</td>
                        <td class="txt-c">{{result.expDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.mnfDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.inDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.location}}</td>
                        <td class="txt-c">{{result.sysNumber}}</td>
                        <td>{{result.notes}}</td>
                    </tr>
                    <tr class="summary-row">
                        <td class="txt-c" colspan="5">Summary</td>
                        <td class="txt-c">{{sumQty(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumAllocate(resultList) | currency:"":0}}</td>
                        <td class="txt-c" colspan="9"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.invbatchnumberreportsearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>