<!-- Subheader Area
===================================== -->
<header class="bg-grad-blood-mary mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.master' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label translate="inv.itemno">
                    </label>
                    <!-- <input class="input-square form-control" maxlength="100" ng-model="condition.itemCode" placeholder="Item no." type="text"> -->
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCode" placeholder="Item no." type="text" auto-complete="itemAutoOptions">
                    </input>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item name</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemName" placeholder="Item name" type="text">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item Group</label>
                    <!-- <input class="input-square form-control" maxlength="100" ng-model="condition.itemType" placeholder="Type" type="text">
                    </input> -->
                    <select class="input-square form-control" ng-model="condition.itemGroupCode" convert-to-number>
                        <option value="" translate="option.all">
                        </option>
                        <option ng-repeat="itemGroup in itemGroupList" value="{{itemGroup.itmsGrpCod}}">
                            {{itemGroup.itmsGrpNam}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 btn-line">
                <button class="button-o button-square button-pasific hover-fade" ng-click="doSearch($event)" translate="common.search">
                </button>
                <button class="button-o button-square button-pasific hover-fade" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container pb20 search-result">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                    	<th>No.</th>
                        <th>Item No.</th>
                        <th>Item Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList track by result.itemCode">
                       	<td class="txt-c">{{$index + 1 + ((paginable.currentPage - 1) * paginable.rowPerPage)}}</td>
                        <td>
                            {{result.itemCode}}
                        </td>
                        <td>
                            {{result.itemName}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging>
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
</div>