<!-- Subheader Area
===================================== -->
<header class="bg-grad-blood-mary mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.master' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb50 edit-detail">
    <form name="edit-form" ng-submit="doSave($event)">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.edit"></h4>
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Item No.</label>
                    <input name="itemNo" ng-model="bean.itemCode" type="text" class="input-square form-control" placeholder="No." maxlength="20" required readonly>
                </div>                                          
            </div>

            <div class="col-md-6">               
                <div class="form-group">
                    <label>Description</label>
                    <input name="description" ng-model="bean.itemName" type="text" class="input-square form-control" placeholder="Description" maxlength="200">
                </div>                                          
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Item Type</label>
                    <input name="itemType" ng-model="bean.itemType" type="text" class="input-square form-control" placeholder="Type" maxlength="200" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Item Group</label>
                    <input name="itemGroup" ng-model="bean.itemGroupName" type="text" class="input-square form-control" placeholder="Type" maxlength="200" required>
                    <!-- <select class="input-square form-control" ng-model="bean.itemGroupCode">
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="itemGroup in itemGroupList" value="{{itemGroup.itmsGrpCod}}">
                            {{itemGroup.itmsGrpNam)}}
                        </option>
                    </select> -->
                </div>
            </div>

            <!-- <div class="col-md-6">               
                <div class="form-group">
                    <label>Foreign Name</label>
                    <input name="foreignName" ng-model="bean.frgnName" type="text" class="input-square form-control" placeholder="Foreign Name" maxlength="200">
                </div>                                          
            </div> -->

            <div class="col-md-6">
                <div class="form-group">
                    <label>UoM Group</label>
                    <input name="uomGroupName" ng-model="bean.uomGroupName" type="text" class="input-square form-control" placeholder="UoM Group name" maxlength="200">
                    <!-- <select class="input-square form-control" ng-model="bean.uomGroupCode">
                        <option value="" translate="option.pleaseselect">
                        </option>
                        <option ng-repeat="opt in uomGroupList" value="{{opt.value}}">
                            {{opt.name}}
                        </option>
                    </select> -->
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs nav-justified">
                  <li ng-class="{active: tabIndex===0}"><a data-toggle="tab" ng-click="toggleTab($event, 0)">Sales Data</a></li>
                  <li ng-class="{active: tabIndex===1}"><a data-toggle="tab" ng-click="toggleTab($event, 1)">Inventory Data</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-sales-data" class="tab-pane fade in active row" ng-show="tabIndex===0">
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Item No.</label>
                                <input name="itemNo" ng-model="bean.salesData.itemNo" type="text" class="input-square form-control" placeholder="No." maxlength="20" >
                            </div>
                        </div>

                        <div class="col-md-6">               
                            <div class="form-group">
                                <label>Description</label>
                                <input name="description" ng-model="bean.salesData.description" type="text" class="input-square form-control" placeholder="Description" maxlength="200">
                            </div>                                          
                        </div> -->

                        <div class="col-md-6">             
                            <div class="form-group">
                                <label>Tax Group</label>
                                <input name="taxGroup" ng-model="bean.vatGourpSa" type="text" class="input-square form-control" placeholder="Tax Group" maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Package Type</label>
                                <input name="salPackMsr" ng-model="bean.salPackMsr" type="text" class="input-square form-control" placeholder="Package Type" maxlength="200">
                                <!-- <select class="input-square form-control" ng-model="bean.salesData.packageType">
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in packageTypeList" value="{{opt.value}}">
                                        {{opt.name}}
                                    </option>
                                </select> -->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sales UoM Code</label>
                                <!-- <select class="input-square form-control" ng-model="bean.salesData.salesUomCode">
                                    <option value="" translate="option.pleaseselect">
                                    </option>
                                    <option ng-repeat="opt in uomCodeList" value="{{opt.value}}">
                                        {{opt.name}}
                                    </option>
                                </select> -->
                                <input name="salesUomCode" ng-model="bean.sUomCode" type="text" class="input-square form-control" placeholder="UoM Code" maxlength="200">
                            </div>
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>Sales UoM Name</label>
                                <input name="salesUomName" ng-model="bean.sUomName" type="text" class="input-square form-control" placeholder="UoM Name" maxlength="200" readonly>
                            </div>   
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>Items per Sales Unit</label>
                                <input name="itemsPerSalesUnit" ng-model="bean.numInSale" type="text" class="input-square form-control" placeholder="Items per Sales Unit" maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quantity per Package</label>
                                <input name="quantityPerPackage" ng-model="bean.salPackUn" type="text" class="input-square form-control" placeholder="Quantity per Package" maxlength="200">
                            </div>   
                        </div>
                    </div>
                    <div id="tab-itemdata" class="tab-pane fade in active row" ng-show="tabIndex===1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Set Inv. Method By</label>
                                <input name="sInvMethodBy" ng-model="bean.glMethod" type="text" class="input-square form-control" placeholder="Quantity per Package" maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Weight</label>
                                <input name="uomName" ng-model="bean.iWeight" type="text" class="input-square form-control" placeholder="Weight" maxlength="200">
                            </div>
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>UoM Code</label>
                                <input name="uomCode" ng-model="bean.iUomCode" type="text" class="input-square form-control" placeholder="UoM Code" maxlength="200">
                            </div>   
                        </div>

                        <div class="col-md-6">              
                            <div class="form-group">
                                <label>UoM Name</label>
                                <input name="uomName" ng-model="bean.iUomName" type="text" class="input-square form-control" placeholder="UoM Name" maxlength="200" readonly>
                            </div>   
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Inventory Counting UoM Code</label>
                                <input name="invCountingUomCode" ng-model="bean.cUomCode" type="text" class="input-square form-control" placeholder="UoM Code" maxlength="200">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Inventory Counting UoM Name</label>
                                <input name="invCountingUomName" ng-model="bean.cUomName" type="text" class="input-square form-control" placeholder="UoM Name" maxlength="200" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item per Counting Unit</label>
                                <input name="itemPerCountingUnit" ng-model="bean.numInCnt" type="text" class="input-square form-control" placeholder="Item per Counting Unit" maxlength="200">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Valuation Method</label>
                                <input name="valuationMethod" ng-model="bean.evalSystem" type="text" class="input-square form-control" placeholder="Valuation Method" maxlength="200">
                            </div>
                        </div>

                        <hr>

                        <div class="col-md-12">
                            <table class="table" ng-if="bean.onHandList">
                                <thead>
                                    <tr>
                                        <th>Whse Code</th>
                                        <th>Whse Name</th>
                                        <!-- <th>Locked</th>
                                        <th>First Bin Location</th>
                                        <th>Default Bin Location</th>
                                        <th>Enforce Default Loc.</th> -->
                                        <th>In Stock</th>
                                        <th>Committed</th>
                                        <th>Ordered</th>
                                        <th>Available</th>
                                        <!-- <th>Big UoM</th>
                                        <th>Big Qty</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="row in bean.onHandList">
                                        <td class="txt-c">{{row.whsCode}}</td>
                                        <td>{{row.whsName}}</td>
                                        <!-- <td class="txt-c">{{row.locked}}</td>
                                        <td class="txt-c">{{row.firstBinLocation}}</td>
                                        <td class="txt-c">{{row.defaultBinLocation}}</td>
                                        <td class="txt-c">{{row.enforceDefaultLoc}}</td> -->
                                        <td class="txt-c">{{row.onHand | currency:"":0}}</td>
                                        <td class="txt-c">{{row.isCommited | currency:"":0}}</td>
                                        <td class="txt-c">{{row.onOrder | currency:"":0}}</td>
                                        <td class="txt-c">{{row.available | currency:"":0}}</td>
                                        <!-- <td class="txt-c">{{row.bigUom}}</td>
                                        <td class="txt-c">{{row.bigQty}}</td> -->
                                    </tr>
                                    <tr class="summary-row">
                                        <td class="txt-c" colspan="2">Summary</td>
                                        <!-- <td>{{row.whsName}}</td> -->
                                        <td class="txt-c">{{sumOnHand(bean.onHandList) | currency:"":0}}</td>
                                        <td class="txt-c">{{sumIsCommited(bean.onHandList) | currency:"":0}}</td>
                                        <td class="txt-c">{{sumOnOrder(bean.onHandList) | currency:"":0}}</td>
                                        <td class="txt-c">{{sumAvailable(bean.onHandList) | currency:"":0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="result-not-found" ng-if="!bean.onHandList">Not Found Item Data</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="panel panel-success">
            <div class="panel-heading" ng-click="toggleUdf($event)">
                <a class="accordian-toggle-chevron-left" ng-class="{collapsed: !showUdf}" data-toggle="collapse">UDF</a>
            </div>
            <div id="collapse-udf" class="panel-collapse" ng-class="{collapse: !showUdf}" >
                <div class="panel-body row">
                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>WGE_Old Item Code</label>
                            <input name="oldItemCode" ng-model="bean.u_WGE_OItem" type="text" class="input-square form-control" placeholder="Old Item Code" maxlength="200">
                        </div>                                          
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Shelf life</label>
                            <input name="shelfLife" ng-model="bean.u_WGE_ShelfLife" type="text" class="input-square form-control" placeholder="Y/N" maxlength="1">
                        </div>                                          
                    </div>

                    <div class="col-md-6">               
                        <div class="form-group">
                            <label>Brand</label>
                            <input name="brand" ng-model="bean.u_WGE_Brand" type="text" class="input-square form-control" placeholder="Brand" maxlength="200">
                        </div>                                          
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Channel</label>
                            <input name="channel" ng-model="bean.u_WGE_Channel" type="text" class="input-square form-control" placeholder="Channel" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub Categories</label>
                            <input name="channel" ng-model="bean.u_WGE_SubCat" type="text" class="input-square form-control" placeholder="Sub Categories" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Packaging Size</label>
                            <input name="packagingSize" ng-model="bean.u_WGE_PackagingSize" type="text" class="input-square form-control" placeholder="Packaging Size" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Standard % Yield</label>
                            <input name="standardYield" ng-model="bean.u_WGE_StdYield" type="text" class="input-square form-control" placeholder="Standard Yield" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Standard Man Hour</label>
                            <input name="standardManHour" ng-model="bean.u_WGE_StdManHour" type="text" class="input-square form-control" placeholder="Standard Man Hour" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rawmat</label>
                            <input name="rawmat" ng-model="bean.u_WGE_Rawmat" type="text" class="input-square form-control" placeholder="Rawmat" maxlength="200">
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>Price Range</label>
                            <input name="priceRange" ng-model="bean.udf.priceRange" type="text" class="input-square form-control" placeholder="Price Range" maxlength="200">
                        </div>
                    </div> -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Production</label>
                            <input name="production" ng-model="bean.u_WGE_Product" type="text" class="input-square form-control" placeholder="Production" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Package</label>
                            <input name="package" ng-model="bean.u_WGE_Package" type="text" class="input-square form-control" placeholder="Package" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Group</label>
                            <input name="productGroup" ng-model="bean.u_WGE_ProductG" type="text" class="input-square form-control" placeholder="Product Group" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Category</label>
                            <input name="category" ng-model="bean.uu_WGE_Properties" type="text" class="input-square form-control" placeholder="Category" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Invoice Packing</label>
                            <input name="invoicePacking" ng-model="bean.u_WGE_InvPacking" type="text" class="input-square form-control" placeholder="Invoice Packing" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>BP Code</label>
                            <input name="boCode" ng-model="bean.u_WGE_BPCode" type="text" class="input-square form-control" placeholder="Business Partner" maxlength="200">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>BP Name</label>
                            <input name="bpName" ng-model="bean.u_WGE_BPName" type="text" class="input-square form-control" placeholder="Business Partner" maxlength="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 btn-line">
                <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.invmastersearch" translate="common.back"></button>
                <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
            </div>
        </div>
    </form> 
</div>
