<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        Purchase Order Movement Report
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pt10 mb10 search-condition">
    <div class="row">
        <form name="search-form" ng-submit="gotoDetail($event)">
            <div class="col-md-12">
                <h4 class="text-left mb20" translate="common.searchcondition">
                </h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Vendor From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeFrom" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.cardCodeTo" placeholder="Card no." type="text" auto-complete="cardAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Item No. From</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeFrom" placeholder="Item no." type="text" auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" maxlength="100" ng-model="condition.itemCodeTo" placeholder="Item no." type="text" auto-complete="itemAutoOptions">
                    </input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>ETA Date From</label>
                    <input class="input-square form-control" ng-model="condition.etaDateFrom" placeholder="ETA Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="ETA Date From" ng-model="condition.etaDateFrom"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>To</label>
                    <input class="input-square form-control" ng-model="condition.etaDateTo" placeholder="ETA Date" type="date">
                    </input>
                </div>
                <!-- <date-picker-group label="To" ng-model="condition.etaDateTo"></date-picker-group> -->
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Status</label>
                    <select class="input-square form-control" ng-model="condition.docStatus">
                        <option value="" translate="option.all">
                        </option>
                        <option ng-repeat="opt in statusList" value="{{opt.value}}">
                            {{opt.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 btn-line mt20">
                <button class="button-o button-square button-pasific hover-fade" type="submit" translate="common.report">
                </button>
                <button class="button-o button-square button-pasific hover-fade" type="button" ng-click="initForm($event)" translate="common.cancel">
                </button>
            </div>
        </form>
    </div>
</div>