<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.status' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Doc No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.docNo" placeholder="Doc No." type="text" >
                </input>
            </div>
        </div>
        <div class="col-md-6" ng-if="condition.whsCode">
            <div class="form-group">
                <label>Wharehouse</label>
                <input class="input-square form-control" maxlength="100" ng-model="condition.whsCode" placeholder="Wharehouse Code" type="text" readonly>
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Document</th>
                        <th>Customer/Vendor</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Committed</th>
                        <th>Ordered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-style="result.objType!=='17' && {'cursor':'default'}" ng-repeat="result in resultList | filter: {docNo : localCondition.docNo}" ng-click="gotoOrderDetail($event, result)">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td class="txt-c">{{result.docNo}}</td>
                        <td>{{result.cardName}}</td>
                        <td class="txt-c">{{result.docDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.docDueDate | date : 'dd.MM.yyyy'}}</td>
                        <td class="txt-c">{{result.isCommited}}</td>
                        <td class="txt-c">{{result.onOrder}}</td>
                    </tr>
                    <tr class="summary-row">
                        <td class="txt-c" colspan="5">Summary</td>
                        <td class="txt-c">{{sumIsCommited(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumOnOrder(resultList) | currency:"":0}}</td>
                        <!-- <td class="txt-c"></td> -->
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.invstatusedit" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>