<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                    {{'sales.console' | translate}}
                    <small class="color-light alpha7">
                        {{'menu.inv.status' | translate}}
                    </small>
                </h3>
            </div>
        </div>
    </div>
</header>

<div class="container pb20 mt20 search-result">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Item No.</label>
                <input class="input-square form-control" maxlength="100" ng-model="localCondition.itemCode" placeholder="Item No." type="text">
                </input>
            </div>
        </div>
        <div class="col-md-6" ng-if="condition.whsCode">
            <div class="form-group">
                <label>Wharehouse</label>
                <input class="input-square form-control" maxlength="100" ng-model="condition.whsCode" placeholder="Wharehouse Code" type="text" readonly>
                </input>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left mb10" translate="common.searchresult">
            </h4>
            <table class="table" ng-if="resultList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>In Stock</th>
                        <th>Committed</th>
                        <th>Ordered</th>
                        <th>Available</th>
                        <th>Unit of Measure</th>
                        <!-- <th>Required Level</th>
                        <th>Minimum Inventory Level</th>
                        <th>Maximum Inventory Level</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="gotoDetail($event, result)" ng-repeat="result in resultList | filter: {itemCode : localCondition.itemCode}">
                        <td class="txt-c">{{$index + 1}}</td>
                        <td>{{result.itemCode}}</td>
                        <td>{{result.itemName}}</td>
                        <td class="txt-c">{{result.onHand | currency:"":0}}</td>
                        <td class="txt-c">{{result.isCommited | currency:"":0}}</td>
                        <td class="txt-c">{{result.onOrder | currency:"":0}}</td>
                        <td class="txt-c">{{result.avaliable | currency:"":0}}</td>
                        <td class="txt-c">{{result.invntryUom}}</td>
                        <!-- <td class="txt-c">{{result.requiredLevel}}</td>
                        <td class="txt-c">{{result.minInvLevel}}</td>
                        <td class="txt-c">{{result.maxInvLevel}}</td> -->
                    </tr>
                    <tr class="summary-row">
                        <td class="txt-c" colspan="3">Summary</td>
                        <td class="txt-c">{{sumOnHand(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumIsCommited(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumOnOrder(resultList) | currency:"":0}}</td>
                        <td class="txt-c">{{sumAvailable(resultList) | currency:"":0}}</td>
                        <td class="txt-c"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <paging ng-if="resultList" page="paginable.currentPage" page-size="paginable.rowPerPage" paging-action="doSearch($event, page)" total="paginable.rowCount">
            </paging> -->
            <span class="result-not-found" ng-if="!resultList" translate="msg.error.not_found">
            </span>
        </div>
    </div>
    <hr>
    <div class="row mt20">
        <div class="col-md-12 btn-line">
            <button type="button" class="button-o button-square button-pasific hover-fade" ui-sref="app.sales.invstatussearch" translate="common.back"></button>
            <!-- <button type="submit" class="button-o button-square button-pasific hover-fade" translate="common.save"></button> -->
        </div>
    </div>
</div>