<ng-include src="'views/dialog/login-dialog.html'"></ng-include>

<!-- Navigation Area
===================================== -->
<nav class="navbar navbar-front navbar-pasific navbar-op navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app.front.home">
                <!-- <img alt="logo" src="images/logo-04.png">
                    {{'app.name' | translate}}
                </img> -->
                <!-- <img alt="logo" src="images/logo-04.png"></img> -->
            </a>
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav mr20">
                <li class="hidden">
                    <a ui-sref="app.front.home">
                    </a>
                </li>
                <li>
                    <a data-target="#loginModal" data-toggle="modal" href="#">
                        <i class="fa fa-lock fa-fw">
                        </i>
                        {{'common.signin' | translate}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
<!-- Start Body -->
<ui-view name="frontContent" class="front-content">
</ui-view>
<!-- End Body -->
<!-- Start Footer -->
<!-- End Footer-->
