<div id="particles-js2"></div>

<ng-include src="'views/dialog/alert-dialog.html'"></ng-include>
<ng-include src="'views/dialog/info-dialog.html'"></ng-include>
<ng-include src="'views/dialog/error-dialog.html'"></ng-include>
<ng-include src="'views/dialog/confirm-dialog.html'"></ng-include>

<!-- Start Header -->
<!-- End Header -->
<!-- Start Body -->
<ui-view name="mainContent"></ui-view>
<!-- End Body -->
<!-- Start Footer -->
<!-- Footer -->
<!-- Footer Area
        =====================================-->
<footer class="footer-one center-block bg-light pt50 pb30 " id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 mb25">
                <div class="copyright center-block">
                    © 2019. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer-->