<!-- Start Header -->
<!-- Navigation Area
===================================== -->
<nav class="navbar navbar-sales navbar-pasific navbar-mp navbar-standart megamenu navbar-fixed-top top-nav-collapse" >
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-main-collapse" data-toggle="collapse" type="button">
                <i class="fa fa-bars">
                </i>
            </button>
            <a class="navbar-brand page-scroll" ui-sref="app.sales.dashboard">
                <!-- <img alt="logo" src="images/logo-04.png">
                    {{'app.name' | translate}}
                </img> -->
                <img alt="logo" class="sales-logo" src="images/logo-04.png"></img>
            </a>
        </div>
        <!-- <div class="navbar-header">
            <span class="user-display">{{userDisplay}}</span>
        </div> -->
        <div class="navbar-collapse collapse navbar-main-collapse">
            <span class="user-display showOnDesktop">{{userDisplay}}</span>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown">
                        <i class="fa fa-database fa-fw color-pasific">
                        </i>
                        Main Menu
                    </a>
                    <ul class="dropdown-menu has-submenu" role="menu">
                        <li class="dropdown-submenu" ng-if="isAllowMenu($event, ['BP001', 'IM001'])">
                            <a class="dropdown-toggle " data-toggle="dropdown">
                                <i class="fa fa-link">
                                </i>
                                Master Data
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.sales.bpmastersearch" data-target="#" ng-if="isAllowModule($event, 'BP001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.bp' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.invmastersearch" data-target="#" ng-if="isAllowModule($event, 'IM001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.inv.master' | translate}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu" ng-if="isAllowMenu($event, ['AO001', 'AO002', 'AP002'])">
                            <a>
                                <i class="fa fa-usd">
                                </i>
                                {{'menu.ar' | translate}}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.sales.arordersearch" data-target="#" ng-if="isAllowModule($event, 'AO001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.ar.order' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.arorderapprovesearch" data-target="#" ng-if="isAllowModule($event, 'AP002')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        Approve Order
                                    </a>
                                    <a ui-sref="app.sales.arorderstatussearch" data-target="#" ng-if="isAllowModule($event, 'AO002')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        Order Status
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu" ng-if="isAllowMenu($event, ['IS001', 'IB001', 'AB001', 'AS001', 'AG001', 'AH001', 'AH002', 'IP001', 'AP001'])">
                            <a>
                                <i class="fa fa-print">
                                </i>
                                Report
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ui-sref="app.sales.invstatussearch" data-target="#" ng-if="isAllowModule($event, 'IS001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.inv.status' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.invbatchnumberreportsearch" data-target="#" ng-if="isAllowModule($event, 'IB001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.inv.batchnoreport' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.arbackordersearch" data-target="#" ng-if="isAllowModule($event, 'AB001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        Sales Order not Delivered
                                    </a>
                                    <a ui-sref="app.sales.aranalysisreportsearch" data-target="#" ng-if="isAllowModule($event, 'AS001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.ar.analysisreport' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.arageingreportsearch" data-target="#" ng-if="isAllowModule($event, 'AG001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.ar.ageingreport' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.aronhandsearch" data-target="#" ng-if="isAllowModule($event, 'AH001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        {{'menu.ar.onhandreport' | translate}}
                                    </a>
                                    <a ui-sref="app.sales.aronhandcostsearch" data-target="#" ng-if="isAllowModule($event, 'AH002')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        On Hand Report (Cost)
                                    </a>
                                    <a ui-sref="app.sales.invpurchasesearch" data-target="#" ng-if="isAllowModule($event, 'IP001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        Purchase Order Movement Report
                                    </a>
                                    <a ui-sref="app.sales.arpurchasecostsearch" data-target="#" ng-if="isAllowModule($event, 'AP001')">
                                        <i class="fa fa-check fa-fw color-pasific">
                                        </i>
                                        Purchase Order Movement Report (Cost)
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" ng-if="isAllowMenu($event, ['BC001'])">
                            <a ui-sref="app.sales.brochureview" ng-if="isAllowModule($event, 'BC001')">
                                <i class="fa fa-newspaper-o">
                                </i>
                                Brochure
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a class="" ng-click="doLogout($event)" >
                        <i class="fa fa-sign-out fa-fw color-pasific">
                        </i>
                        Logout
                    </a>
                </li>
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle " data-toggle="dropdown">
                        <i class="fa fa-language fa-fw color-pasific">
                        </i>
                        {{'common.changelanguage' | translate}}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-click="changeLanguage('th')" data-target="#">
                                <i class="fa fa-text-height">
                                </i>
                                ภาษาไทย
                            </a>
                        </li>
                        <li>
                            <a ng-click="changeLanguage('en')" data-target="#">
                                <i class="fa fa-globe">
                                </i>
                                English
                            </a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
<!-- Start Body -->
<ui-view name="salesContent" class="sales-content"></ui-view>
<!-- End Body -->
<!-- Start Footer -->
<!-- End Footer