<!-- Subheader Area
===================================== -->
<header class="bg-grad-mojito mt70 first-e">
    <div class="container">
        <div class="row mt20 mb30">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase">
                {{'sales.console' | translate}}
                <small class="color-light alpha7">
                {{'menu.dashboard' | translate}}
                </small>
                </h3>
            </div>
        </div>
    </div>
</header>
<div class="pt50 sales-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                <small>Welcome to Web Sales</small>
                Winner Group
                <small class="heading heading-solid center-block"></small>
                </h1>
            </div>
        </div>
        
        <div class="row menu-box-row mt30">

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="100" ng-click="gotoState('app.sales.bpmastersearch')" ng-if="isAllowModule($event, 'BP001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-link bg-grad-blood-mary"></i> -->
                    <img src="images/menu/bp-master.png">
                    <h5>Business Partner Master</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInDown" data-animation-delay="200" ng-click="gotoState('app.sales.invmastersearch')" ng-if="isAllowModule($event, 'IM001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-link bg-grad-blood-mary"></i> -->
                    <img src="images/menu/inv-master.png">
                    <h5>Item Master</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="100" ng-click="gotoState('app.sales.arordersearch')" ng-if="isAllowModule($event, 'AO001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-dollar bg-grad-stellar"></i> -->
                    <img src="images/menu/sales-order.png">
                    <h5>Sales Order</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="100" ng-click="gotoState('app.sales.arorderapprovesearch')" ng-if="isAllowModule($event, 'AP002')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-dollar bg-grad-stellar"></i> -->
                    <img src="images/menu/approve-order.png">
                    <h5>Approve Order</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInUp" data-animation-delay="100" ng-click="gotoState('app.sales.arorderstatussearch')" ng-if="isAllowModule($event, 'AO002')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-dollar bg-grad-stellar"></i> -->
                    <img src="images/menu/sales-order-status.png">
                    <h5>Order Status</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="300" ng-click="gotoState('app.sales.invstatussearch')" ng-if="isAllowModule($event, 'IS001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/inv-status.png">
                    <h5>Inventory Status</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInDown" data-animation-delay="400" ng-click="gotoState('app.sales.invbatchnumberreportsearch')" ng-if="isAllowModule($event, 'IB001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/batch-trans-report.png">
                    <h5>Batch Number Transaction Report</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInUp" data-animation-delay="200" ng-click="gotoState('app.sales.arbackordersearch')" ng-if="isAllowModule($event, 'AB001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/sales-order-not-delivery.png">
                    <h5>Sales Order not Delivered</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="300" ng-click="gotoState('app.sales.aranalysisreportsearch')" ng-if="isAllowModule($event, 'AS001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/sales-analysis-report.png">
                    <h5>Sales Analysis Report</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400" ng-click="gotoState('app.sales.arageingreportsearch')" ng-if="isAllowModule($event, 'AG001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/customer-payment-report.png">
                    <h5>Customer Payment Report</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInUp" data-animation-delay="400" ng-click="gotoState('app.sales.aronhandsearch')" ng-if="isAllowModule($event, 'AH001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/on-hand-list.png">
                    <h5>On Hand Report</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="400" ng-click="gotoState('app.sales.aronhandcostsearch')" ng-if="isAllowModule($event, 'AH002')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/on-hand-list-cost.png">
                    <h5>On Hand Report (Cost)</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInLeft" data-animation-delay="400" ng-click="gotoState('app.sales.invpurchasesearch')" ng-if="isAllowModule($event, 'IP001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/purchase-order-movement.png">
                    <h5>Purchase Order Movement Report</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="400" ng-click="gotoState('app.sales.arpurchasecostsearch')" ng-if="isAllowModule($event, 'AP001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-cube bg-grad-mojito"></i> -->
                    <img src="images/menu/purchase-order-movement-cost.png">
                    <h5>Purchase Order Movement Report (Cost)</h5>
                </div>
            </div>

            <div class="col col-lg-3 col-md-3 col-sm-4 col-xs-6" data-animation="fadeInRight" data-animation-delay="400" ng-click="gotoState('app.sales.brochureview')" ng-if="isAllowModule($event, 'BC001')">
                <div class="content-box content-box-center">
                    <!-- <i class="fa fa-windows bg-grad-orange"></i> -->
                    <img src="images/menu/brochure.png">
                    <h5>Brochure</h5>
                </div>
            </div>
            
        </div>
    </div>
</div>