<div class="modal fade edit-modal" id="searchWhseModal" ng-controller="searchWhseDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Warehouse
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-left mb10" translate="common.searchresult">
                        </h4>
                        <table class="table" ng-if="dialogResultList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Warehouse</th>
                                    <th>Warehouse Name</th>
                                    <th>In Stock</th>
                                    <th>Commited</th>
                                    <th>Ordered</th>
                                    <th>Available</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="doChooseRow($event, result)" ng-repeat="result in dialogResultList track by result.whsCode">
                                    <!-- <td class="txt-c">{{$index + 1 + ((dialogPaginable.currentPage - 1) * dialogPaginable.rowPerPage)}}</td> -->
                                    <td class="txt-c">{{$index + 1}}</td>
                                    <td class="txt-c">
                                        {{result.whsCode}}
                                    </td>
                                    <td>
                                        {{result.whsName}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.onHand}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.isCommited}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.onOrder}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.avaliable}}
                                    </td>
                                </tr>
                                <tr class="summary-row">
                                    <td class="txt-c" colspan="3">Summary</td>
                                    <td class="txt-c">{{sumOnHand(dialogResultList) | currency:"":0}}</td>
                                    <td class="txt-c">{{sumIsCommited(dialogResultList) | currency:"":0}}</td>
                                    <td class="txt-c">{{sumOnOrder(dialogResultList) | currency:"":0}}</td>
                                    <td class="txt-c">{{sumAvailable(dialogResultList) | currency:"":0}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging> -->
                        <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray txt-c">
                <button class="close mar-auto" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>