<div class="modal fade edit-modal" id="searchItemModal" ng-controller="searchItemDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Item
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row">
                    <form name="search-dialog-form">
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Posting From</label>
                                <input class="input-square form-control" ng-model="dialogCondition.docDate" placeholder="Doc Date" type="date" readonly>
                                </input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.cardName" placeholder="Name" type="text" readonly>
                                </input>
                            </div>
                        </div> -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item No.</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.itemCode" placeholder="Item no." type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.itemName" placeholder="Item name" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>BP Catalog No.</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.bpItemName" placeholder="Catalog No." type="text" >
                                </input>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-group">
                                <label>Price List</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.priceListName" placeholder="Price List" type="text" readonly>
                                </input>
                            </div>
                        </div> -->
                        <div class="col-md-12 btn-line">
                            <button class="button-o button-square button-pasific hover-fade" ng-click="doDialogSearch($event)" translate="common.search">
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-left mb10" translate="common.searchresult">
                        </h4>
                        <table class="table" ng-if="dialogResultList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item No.</th>
                                    <th>Description</th>
                                    <th>BP Catalog No.</th>
                                    <th>Bar Code</th>
                                    <th>In Stock Qty</th>
                                    <th>Avaliable Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="doChooseRow($event, result)" ng-repeat="result in dialogResultList track by result.itemCode">
                                    <td class="txt-c">{{$index + 1 + ((dialogPaginable.currentPage - 1) * dialogPaginable.rowPerPage)}}</td>
                                    <!-- <td class="txt-c">{{$index + 1}}</td> -->
                                    <td>
                                        {{result.itemCode}}
                                    </td>
                                    <td>
                                        {{result.itemName}}
                                    </td>
                                    <td>
                                        {{result.bpItemName}}
                                    </td>
                                    <td>
                                        {{result.codeBars}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.inStockQty}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.avaliableQty}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging>
                        <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray">
                <button class="close mar-auto" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>