<div class="modal fade edit-modal" id="searchPartnerModal" ng-controller="searchPartnerDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Partner
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row">
                    <form name="search-dialog-form">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Code</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.cardCode" placeholder="Code" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.cardName" placeholder="Name" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="col-md-12 btn-line">
                            <button class="button-o button-square button-pasific hover-fade" ng-click="doDialogSearch($event)" translate="common.search">
                            </button>
                        </div>

                    </form>
                </div>
                <div class="row scroll-row">
                    <div class="col-md-12">
                        <h4 class="text-left mb10" translate="common.searchresult">
                        </h4>
                        <table class="table" ng-if="dialogResultList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer</th>
                                    <th>Name</th>
                                    <th>Consolidate BP</th>
                                    <th>Credit Limit</th>
                                    <!-- <th>Commitment Limit</th> -->
                                    <th>Account Balance</th>
                                    <th>Deliveries</th>
                                    <th>Orders</th>
                                    <th>Remaining Balance</th>
                                    <th>Sales Name</th>
                                    <th>Price List</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-click="doChooseRow($event, result)" ng-repeat="result in dialogResultList track by result.cardCode">
                                    <td class="txt-c">{{$index + 1 + ((dialogPaginable.currentPage - 1) * dialogPaginable.rowPerPage)}}</td>
                                    <!-- <td class="txt-c">{{$index + 1}}</td> -->
                                    <td>
                                        {{result.cardCode}}
                                    </td>
                                    <td>
                                        {{result.cardName}}
                                    </td>
                                    <td>
                                        {{result.fatherCard}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.creditLimit | currency:"":2}}
                                    </td>
                                    <!-- <td class="txt-r">
                                        {{result.commitmentLimit | currency:"":2}}
                                    </td> -->
                                    <td class="txt-r">
                                        {{result.outstandingDebt | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.overdueDebt | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.orders | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.creditLimit - (result.outstandingDebt + result.overdueDebt + result.orders) | currency:"":2}}
                                    </td>
                                    <td>
                                        {{result.salesPersonName}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.priceListName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging>
                        <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray txt-c">
                <button class="close mar-auto" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>