<div class="modal fade edit-modal" id="searchBatchNoModal" ng-controller="searchBatchNoDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Batch Number
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Inventory Qty</label>
                            <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.invQty" placeholder="Qty" type="text" readonly>
                            </input>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Allocated Qty</label>
                            <input class="input-square form-control" maxlength="100" ng-model="dialogCondition.allocatedQty" placeholder="Qty" type="text" readonly>
                            </input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left mb10">Batch Available
                        </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Batch Number</th>
                                    <th>In Stock</th>
                                    <th>Quantity</th>
                                    <th>Expiration Date</th>
                                    <th>Shelflife Days</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'yellow-td' : 'Y' === result.color, 'red-td' : 'R' === result.color, 'green-td' : 'G' === result.color}" ng-repeat="result in dialogResultList track by result.absEntry">
                                    <!-- <td class="txt-c">{{$index + 1 + ((dialogPaginable.currentPage - 1) * dialogPaginable.rowPerPage)}}</td> -->
                                    <td class="txt-c value">{{$index + 1}}</td>
                                    <td class="value">
                                        {{result.batchNumber}}
                                    </td>
                                    <td class="txt-c value">
                                        {{result.quantity}}
                                    </td>
                                    <td class="txt-c" ng-class="{'has-error': result.quantity < result.batchQty}">
                                        <input name="batchQty" ng-model="result.batchQty" type="number" class="input-square form-control" max="1000000000" min="0" >
                                    </td>
                                    <td class="txt-c value">
                                        {{result.expDate | date : 'dd.MM.yyyy'}}
                                    </td>
                                    <td class="txt-c value">
                                        {{result.days}}
                                    </td>
                                    <td class="txt-c" style="padding-top: 1.3em;">
                                        <i ng-hide="result.quantity < result.batchQty" class="fa fa-plus-circle td-icon-btn" aria-hidden="true" ng-click="doAddBatch($event, $index)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging> -->
                        <!-- <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span> -->
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-left mb10">Batch Selection
                        </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Remove</th>
                                    <th>#</th>
                                    <th>Batch Number</th>
                                    <th>Quantity</th>
                                    <th>Expiration Date</th>
                                    <th>Shelflife Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'yellow-td' : 'Y' === result.color, 'red-td' : 'R' === result.color, 'green-td' : 'G' === result.color}" ng-repeat="result in selectedBatchNoList track by result.absEntry">
                                    <!-- <td class="txt-c">{{$index + 1 + ((dialogPaginable.currentPage - 1) * dialogPaginable.rowPerPage)}}</td> -->
                                    <td class="txt-c" style="padding-top: 1.3em;">
                                        <i class="fa fa-minus-circle td-icon-btn" aria-hidden="true" ng-click="doRemoveBatch($event, $index)"></i>
                                    </td>
                                    <td class="txt-c value">{{$index + 1}}</td>
                                    <td class="value">
                                        {{result.batchNumber}}
                                    </td>
                                    <td class="txt-c value">
                                        {{result.batchQty}}
                                    </td>
                                    <td class="txt-c value">
                                        {{result.expDate | date : 'dd.MM.yyyy'}}
                                    </td>
                                    <td class="txt-c value">
                                        {{result.days}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging> -->
                        <!-- <span class="result-not-found" ng-if="!selectedBatchNoList" translate="msg.error.not_found">
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button-o button-square button-pasific hover-fade" ng-click="doSave($event)" translate="common.save">
                </button>
                <button class="button-o button-square button-pasific hover-fade" data-dismiss="modal" translate="common.close">
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>