<div class="modal fade edit-modal" id="searchGrossProfitModal" ng-controller="searchGrossProfitDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Gross Profit
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row scroll-row">
                    <div class="col-md-12">
                        <h4 class="text-left mb10" translate="common.searchresult">
                        </h4>
                        <table class="table" ng-if="dialogResultList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item No.</th>
                                    <th>Item Description</th>
                                    <th>Base Price</th>
                                    <th>Total Base Price</th>
                                    <th>Sales Price</th>
                                    <th>Qty</th>
                                    <th>Gross Profit</th>
                                    <th>Profit %</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'red-td' : result.color === 'R', 'info' : result.color !== 'R'}" ng-repeat="result in dialogResultList track by result.lineNum">
                                    <td class="txt-c">{{$index + 1}}</td>
                                    <td>
                                        {{result.itemCode}}
                                    </td>
                                    <td>
                                        {{result.itemName}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.basePrice | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.totalBasePrice | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.salesPrice | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.quantity | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.grossProfit | currency:"":2}}
                                    </td>
                                    <td class="txt-r">
                                        {{result.profitPercent | currency:"":2}}
                                    </td>
                                </tr>
                                <tr class="summary-row">
                                    <td class="txt-c" colspan="4">Summary</td>
                                    <td class="txt-r">{{sumBasePrice(dialogResultList) | currency:"":2}}</td>
                                    <td class="txt-c" colspan="2"></td>
                                    <td class="txt-r">{{sumGrossProfit(dialogResultList) | currency:"":2}}</td>
                                    <td class="txt-r">{{sumProfitPercent(dialogResultList) | currency:"":2}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray txt-c">
                <button class="close mar-auto" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>