<div class="modal fade edit-modal" id="searchSalesPriceHistModal" ng-controller="searchSalesPriceHistDialogCtrl" role="dialog">
    <div class="modal-dialog">
        <!-- modal content start -->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button class="close" data-dismiss="modal" type="button">
                    ×
                </button>
                <h5 class="modal-title text-center">
                    <i class="fa fa-search fa-fw">
                    </i>
                    Sales Price History
                </h5>
            </div>
            <div class="modal-body pt25 edit-dialog">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-left mb10" translate="common.searchresult">
                        </h4>
                        <table class="table" ng-if="dialogResultList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Doc No.</th>
                                    <th>Posting Date</th>
                                    <th>Delivery Date</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Discount %</th>
                                    <th>Price After Discount</th>
                                    <th>Uom Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-class="{'pasific' : $index % 2 !== 0, 'info' : $index % 2 === 0}" ng-repeat="result in dialogResultList">
                                    <td class="txt-c">{{$index + 1}}</td>
                                    <td class="txt-c">
                                        {{result.docNum}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.docDate | date : 'dd.MM.yyyy'}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.docDueDate | date : 'dd.MM.yyyy'}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.quantity |  currency:"":2}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.unitPrice |  currency:"":2}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.discountPercent |  currency:"":2}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.priceAfterDiscount |  currency:"":2}}
                                    </td>
                                    <td class="txt-c">
                                        {{result.uomCode}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <paging ng-if="dialogResultList" page="dialogPaginable.currentPage" page-size="dialogPaginable.rowPerPage" paging-action="doDialogSearch($event, page)" total="dialogPaginable.rowCount">
                        </paging> -->
                        <span class="result-not-found" ng-if="!dialogResultList" translate="msg.error.not_found">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gray txt-c">
                <button class="close mar-auto" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
        <!-- modal content end -->
    </div>
</div>